@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

table, th, td {
  border-collapse: collapse; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

input, a, img, span, label, select {
  vertical-align: middle; }

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header_sub .util_wrap {
    width: 100%;
    height: 30px;
    background: #f5f5f5; }
    #header_sub .util_wrap .util_main {
      width: 1180px;
      margin: 0px auto;
      position: relative; }
      #header_sub .util_wrap .util_main .util {
        position: absolute;
        right: 26px; }
        #header_sub .util_wrap .util_main .util::after {
          content: "";
          display: block;
          clear: both; }
        #header_sub .util_wrap .util_main .util li {
          float: left; }
          #header_sub .util_wrap .util_main .util li a {
            display: block;
            font: 400 12px/1 'Open Sans';
            color: #666;
            padding: 0px 10px;
            border-right: 1px solid #aaa;
            margin-top: 7px; }
          #header_sub .util_wrap .util_main .util li:nth-child(2) a {
            color: #999; }
          #header_sub .util_wrap .util_main .util li:last-child a {
            border-right: none; }
        #header_sub .util_wrap .util_main .util::after {
          content: '';
          display: block;
          clear: both; }
  #header_sub .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      left: 0;
      bottom: 19px;
      letter-spacing: 3px; }
      #header_sub .inner > h1 a {
        font: 800 24px/1 'Nanum Myeongjo';
        color: #444; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0px;
      right: 0; }
      #header_sub .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb #gnb > li {
        float: left; }
        #header_sub .inner .menuWeb #gnb > li > a {
          display: block;
          padding: 14px 40px;
          height: 42px;
          font: 600 14px/42px 'Nanum Myeongjo';
          color: #777;
          transition: all 0.5s; }
          #header_sub .inner .menuWeb #gnb > li > a:hover {
            color: #000; }
        #header_sub .inner .menuWeb #gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 70px;
          right: 0px;
          display: none; }
          #header_sub .inner .menuWeb #gnb > li .sub .left {
            width: 65%;
            height: 100%;
            background: #f3f3f3;
            float: left;
            padding: 64px;
            box-sizing: border-box; }
            #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              padding: 80px 64px; }
              #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 h3, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 h3 {
                font: bold 16px/1 "Open Sans";
                color: #555;
                margin-bottom: 20px; }
              #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul {
                float: left;
                padding-right: 34px;
                box-sizing: border-box; }
                #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a {
                  font: 15px/2.4 "Open Sans";
                  color: #777;
                  transition: 0.5s; }
                  #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a:hover, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a:hover {
                    color: #ca6262; }
            #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              left: 480px; }
          #header_sub .inner .menuWeb #gnb > li .sub .right {
            width: 35%;
            height: 100%;
            background: #f3f3f3;
            float: right;
            position: absolute;
            top: 0;
            right: 0; }
            #header_sub .inner .menuWeb #gnb > li .sub .right .box {
              width: 260px;
              height: 220px;
              margin: 0px auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
              #header_sub .inner .menuWeb #gnb > li .sub .right .box img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
              #header_sub .inner .menuWeb #gnb > li .sub .right .box .boxbtn {
                height: 220px;
                background: #444;
                padding: 16px;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 85%;
                transform: translateY(-50%); }
                #header_sub .inner .menuWeb #gnb > li .sub .right .box .boxbtn span i {
                  font-size: 16px;
                  color: #fff;
                  margin-top: 165px;
                  cursor: pointer; }
          #header_sub .inner .menuWeb #gnb > li .sub::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 100%;
            background: #f3f3f3; }
          #header_sub .inner .menuWeb #gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 100%;
            background: #f3f3f3; }
    #header_sub .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header_sub .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header_sub .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header_sub .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header_sub .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .menuMo {
      position: fixed;
      top: 0;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box;
      z-index: 10; }
      #header_sub .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 'Open Sansl';
          color: #fff;
          text-align: center; }
        #header_sub .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header_sub .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 'Open Sans';
        color: #888;
        text-align: center; }
      #header_sub .inner .menuMo.on {
        left: 0; }

.content {
  width: 100%;
  padding: 0px 0px 150px; }
  .content .sub_visual {
    width: 100%;
    height: 340px;
    background: #ddd;
    margin-bottom: 100px;
    position: relative; }
    .content .sub_visual::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(71, 71, 71, 0.2); }
    .content .sub_visual > h1 {
      font: 600 30px/1 "Nanum Myeongjo";
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      letter-spacing: 2px;
        /*
        span{
            font: 600 16px/1 'Nanum Myeongjo'; 
            color:#eee; 

            &::before{
                content:'/';
                margin-right:20px; 
                margin-left:10px; 
            }
        }
        */ }
      .content .sub_visual > h1::after {
        content: "";
        display: inline-block;
        width: 170px;
        height: 1px;
        background-color: currentColor;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        left: 150%; }
      .content .sub_visual > h1::before {
        content: "";
        display: inline-block;
        width: 170px;
        height: 1px;
        background-color: currentColor;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        left: -150%; }
  .content .inner {
    width: 1180px;
    margin: 0px auto;
    min-height: 500px; }
    .content .inner .subtit {
      font: 800 28px/1.2 "Nanum Myeongjo";
      color: #525252;
      margin-bottom: 45px; }
    .content .inner .txt_subcont > p {
      font: 13px/1.4 "Open Sans";
      color: #888;
      margin-bottom: 55px; }
    .content .inner > p {
      font: 14px/2 "Nanum Myeongjo";
      color: #c9ab81; }

/* footer --------------------------- */
#footer_sub {
  width: 100%;
  padding: 100px 0;
  border-top: 1px solid #ddd; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner h1 {
      font: 800 24px/1 'Nanum Myeongjo';
      color: #444;
      float: left;
      letter-spacing: 3px; }
    #footer_sub .inner ul {
      float: right; }
      #footer_sub .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer_sub .inner ul li a {
          font: 700 14px/1 'Nanum Myeongjo';
          color: #555; }
    #footer_sub .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 'Open Sans';
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer_sub .inner p {
      font: 12px/1 'Open Sans';
      color: #777;
      width: 100%;
      float: left; }
    #footer_sub .inner::after {
      content: '';
      display: block;
      clear: both; }

/* tablet -------------------------------------- */
@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px; }
    #header_sub .inner > h1 {
      left: 20px; }
    #header_sub .inner .menuWeb {
      display: none; }
    #header_sub .inner .btnCall {
      display: block; }

  .content {
    padding: 0px 0px 100px; }
    .content .sub_visual {
      height: 200px; }
    .content .inner {
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box; }

  /* footer --------------------------- */
  #footer_sub {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer_sub .inner {
      width: 100%; } }
/* mobile -------------------------------------- */
@media screen and (max-width: 539px) {
  .content {
    padding: 0px 0px 80px; }
    .content .sub_visual {
      height: 150px; }
    .content .inner h1 span {
      display: block;
      margin-top: 10px; }

  /* footer --------------------------- */
  #footer_sub .inner h1 {
    margin-bottom: 20px; }
  #footer_sub .inner ul {
    width: 100%; }
    #footer_sub .inner ul li {
      margin-left: 0px;
      margin: 5px; } }
.community .sub_visual {
  background: url(../img/communityImg5.jpg) no-repeat center/cover;
  position: relative; }
.community .txt_subcont p {
  margin-bottom: 70px !important; }
.community .faq {
  margin-bottom: 100px; }
  .community .faq::after {
    content: "";
    display: block;
    clear: both; }
  .community .faq .faq_left {
    width: 25%;
    height: 440px;
    float: left;
    background: #ccc;
    margin-right: 36px; }
    .community .faq .faq_left .picImg {
      width: 100%;
      height: 100%;
      background: url("../img/communityImg2.jpg") no-repeat center/cover;
      filter: saturate(10%); }
  .community .faq .faq_right {
    width: 71.9%;
    float: left; }
    .community .faq .faq_right dt {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      font: 600 20px/1 'Nanum Myeongjo';
      color: #777;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      transition: 0.5s;
      position: relative; }
      .community .faq .faq_right dt span {
        position: absolute;
        right: 0;
        font: 25px/1 "Open Sans";
        color: #666; }
    .community .faq .faq_right dd {
      width: 100%;
      padding: 20px;
      padding-left: 120px;
      box-sizing: border-box;
      font: 14px/1.5 'Nanum Myeongjo';
      color: #888;
      display: none; }
      .community .faq .faq_right dd:nth-of-type(1) {
        display: block; }
.community table {
  width: 100%; }
  .community table th {
    border-bottom: 1px solid #888;
    padding: 20px 30px;
    color: #666;
    font: 800 16px/1 "Nanum Myeongjo"; }
    .community table th:nth-of-type(1) {
      width: 10%; }
    .community table th:nth-of-type(2) {
      width: 60%; }
    .community table th:nth-of-type(3) {
      width: 15%; }
    .community table th:nth-of-type(4) {
      width: 15%; }
  .community table td {
    padding: 30px;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    text-align: center;
    font: 400 15px/1 "Open Sans";
    color: #555; }
    .community table td:nth-of-type(2) {
      text-align: left; }
    .community table td a:link, .community table td a:visited {
      color: #555; }
.community .pagination {
  width: 100%;
  text-align: center;
  margin-top: 60px; }
  .community .pagination .numbers {
    display: inline-block;
    font-size: 0; }
    .community .pagination .numbers a {
      display: inline-block;
      width: 40px;
      height: 40px;
      font: 400 14px/40px "Open Sans";
      color: #666;
      text-align: center;
      margin: 0 3px;
      transition: 0.4s; }
      .community .pagination .numbers a:hover {
        font-weight: bold;
        color: #111;
        text-decoration: underline; }
  .community .pagination .prev {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font: 15px/40px "Open Sans";
    color: #aaa;
    text-align: center;
    box-sizing: border-box;
    vertical-align: bottom;
    transition: 0.5s; }
    .community .pagination .prev:hover {
      background: #333;
      color: #fff;
      border: 0px; }
  .community .pagination .next {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font: 15px/40px "Open Sans";
    color: #aaa;
    text-align: center;
    box-sizing: border-box;
    vertical-align: bottom;
    transition: 0.5s; }
    .community .pagination .next:hover {
      background: #333;
      color: #fff;
      border: 0px; }

/* tablet ----------------------------------------- */
/* mobile ----------------------------------------- */
@media screen and (max-width: 539px) {
  .community .inner h1 {
    font-size: 45px; } }
.department {
    /*
    .mainwrap {
        width: 100%;
        height: 700px;
        // background: #eee;
        padding: 40px;
        box-sizing: border-box;
        position: relative;

        .mem_main {
            width: 1180px;
            margin: 0px auto;
            position: absolute;
            left: 50%;
            top: 48%;
            transform: translate(-50%,-50%);

            &::after { content: ""; display: block; clear: both; }

            .Member_left {
                float: left;
                width: 20%;
                height: 320px;
                margin-right: 20px;
                background:#cf9999;
            }

            .Member_right {
                float: right;
                width: 75%;
                // height: 400px;
                // background: #333;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                article {
                    width: 180px;
                    height: 220px;
                    background: #ddd;
                    margin-bottom: 50px;

                    h2 {
                        font: 12px/1 "arial";
                        color: #555;
                    }
                }
            }
        }
    }
    */ }
  .department .sub_visual {
    background: url(../img/departmentImg3.jpg) no-repeat top/cover;
    position: relative; }
  .department .inner {
    min-height: 0px; }
    .department .inner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8; }
  .department .contentTxt_wrap {
    width: 75%;
    background: #fafafa;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly; }
    .department .contentTxt_wrap .conTxt {
      position: relative; }
      .department .contentTxt_wrap .conTxt h2 {
        font: 800 22px/1 "Nanum Myeongjo";
        color: #676767;
        margin-bottom: 30px; }
        .department .contentTxt_wrap .conTxt h2::before {
          content: "+";
          display: block;
          widtH: 50px;
          height: 50px;
          border-radius: 50px;
          background: #fff;
          box-shadow: 2px 2px 8px 2px rgba(83, 83, 83, 0.1);
          text-align: center;
          font: 200 26px/49px "Open Sansl";
          color: #444;
          margin-bottom: 20px; }
        .department .contentTxt_wrap .conTxt h2:hover {
          color: #000;
          cursor: pointer; }
      .department .contentTxt_wrap .conTxt p {
        font: 14px/1.5 "Open Sansl";
        color: #aaa; }
        .department .contentTxt_wrap .conTxt p::before {
          content: "";
          display: block;
          border: 0px solid #111;
          width: 30%;
          height: 0.5px;
          background: #666;
          margin-bottom: 10px; }
      .department .contentTxt_wrap .conTxt span {
        font: 800 140px/1 "Nanum Myeongjo";
        color: rgba(214, 214, 214, 0.2);
        position: absolute;
        top: 50px;
        left: 100px; }
  .department .mainwrap {
    width: 100%;
    height: 700px;
    margin-top: 180px;
    padding: 40px;
    box-sizing: border-box;
    position: relative; }
    .department .mainwrap .mem_main {
      width: 1180px;
      margin: 0px auto;
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%); }
      .department .mainwrap .mem_main::after {
        content: "";
        display: block;
        clear: both; }
      .department .mainwrap .mem_main .Member_left {
        float: left;
        width: 19%;
        height: 290px;
        margin-right: 20px;
        background: #444; }
        .department .mainwrap .mem_main .Member_left .memtit {
          padding: 26px;
          box-sizing: border-box; }
          .department .mainwrap .mem_main .Member_left .memtit span {
            display: inline-block;
            font: 11px/1 "Open Sansl";
            color: #888;
            margin-bottom: 12px; }
          .department .mainwrap .mem_main .Member_left .memtit p {
            font: 600 15px/1.8 "Open Sansl";
            color: #ccc; }
      .department .mainwrap .mem_main .Member_right {
        float: right;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        .department .mainwrap .mem_main .Member_right article {
          width: 26%;
          height: 220px;
          background: #e2e4e3;
          margin-bottom: 50px;
          position: relative; }
          .department .mainwrap .mem_main .Member_right article .txt {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: -10px;
            transform-origin: bottom left;
            transform: rotate(-90deg); }
            .department .mainwrap .mem_main .Member_right article .txt h3 {
              font: 800 16px/1 "Nanum Myeongjo";
              color: #333; }
              .department .mainwrap .mem_main .Member_right article .txt h3::after {
                content: " / Web Designer";
                display: inline-block;
                font: 11px/1 "Open Sansl";
                color: #999; }

/* tablet ------------------------------ */
/* mobile ---------------------------------- */
.join {
  padding: 0px 0px 100px; }
  .join .sub_visual {
    background: url(../img/joinImg5.jpg) no-repeat center/cover;
    position: relative; }
    .join .sub_visual > h1::after {
      left: 280%; }
    .join .sub_visual > h1::before {
      left: -350%; }
  .join .inner form {
    padding: 40px 0px 0px; }
    .join .inner form h2 {
      font: 18px/1 "Nanum Myeongjo";
      color: #666;
      text-align: left;
      padding: 0px 0px 20px 0px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
    .join .inner form .join_main {
      padding: 24px 0px;
      text-align: left; }
      .join .inner form .join_main .member_join {
        width: 100%; }
        .join .inner form .join_main .member_join tr th {
          width: 15%;
          font: 800 16px/1 "Nanum Myeongjo";
          color: #525252;
          vertical-align: top;
          padding: 40px 12px; }
        .join .inner form .join_main .member_join td {
          width: 100%;
          color: #525252; }
          .join .inner form .join_main .member_join td input[type=text],
          .join .inner form .join_main .member_join td input[type=password] {
            width: 100%;
            height: 60px;
            border: 1px solid #ddd;
            background: #f6f6f6;
            border-radius: 4px;
            padding-left: 30px;
            box-sizing: border-box; }
            .join .inner form .join_main .member_join td input[type=text].error,
            .join .inner form .join_main .member_join td input[type=password].error {
              border: 1px solid orangered;
              background: #fff0f0; }
          .join .inner form .join_main .member_join td input[type=checkbox] {
            margin-right: 10px; }
          .join .inner form .join_main .member_join td label {
            margin-right: 30px; }
          .join .inner form .join_main .member_join td select {
            width: 100%;
            border: 1px solid #ddd;
            padding: 18px 10px;
            box-sizing: border-box;
            margin-top: 10px;
            padding-left: 30px; }
            .join .inner form .join_main .member_join td select option {
              font-size: 14px; }
          .join .inner form .join_main .member_join td textarea {
            width: 100%;
            height: 280px;
            resize: none;
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding: 30px;
            background: #f5f5f5;
            font: 500 14px/2 "Open Sans";
            color: #525252;
            margin-bottom: 6px; }
            .join .inner form .join_main .member_join td textarea.error {
              border: 1px solid orangered;
              background: #fff0f0; }
          .join .inner form .join_main .member_join td #phone-number2, .join .inner form .join_main .member_join td #phone-number3,
          .join .inner form .join_main .member_join td #birth, .join .inner form .join_main .member_join td #birth-mon, .join .inner form .join_main .member_join td #birth-day {
            width: 18%; }
          .join .inner form .join_main .member_join td .gBlack5 {
            display: block;
            margin-top: 5px; }
          .join .inner form .join_main .member_join td #birth-type1 {
            padding-right: 10px; }
          .join .inner form .join_main .member_join td > p {
            margin-top: 10px;
            font: 400 12px/1 "Open Sans";
            color: orangered;
            display: none; }
            .join .inner form .join_main .member_join td > p.error {
              display: block; }
          .join .inner form .join_main .member_join td input[type=submit] {
            text-align: center;
            font: 800 14px/40px "Open Sans";
            color: #fff;
            width: 100%;
            height: 55px;
            margin: 0 auto;
            cursor: pointer;
            border: 0px;
            background: #333;
            transition: 0.6s; }
            .join .inner form .join_main .member_join td input[type=submit]:hover {
              color: #ccc; }
    .join .inner form .agree_wrap {
      margin-bottom: 40px; }
      .join .inner form .agree_wrap::after {
        content: "";
        display: block;
        clear: both; }
      .join .inner form .agree_wrap .agree_tit {
        font: normal 16px/1.3 "Nanum Myeongjo";
        color: #333;
        border-bottom: none;
        letter-spacing: -1px;
        float: left; }
        .join .inner form .agree_wrap .agree_tit:nth-of-type(2) {
          margin-top: 80px; }
      .join .inner form .agree_wrap .agreement {
        float: right;
        font: 500 13px/1 "Open Sans";
        color: #525252; }
        .join .inner form .agree_wrap .agreement input[type=checkbox] {
          width: 14px;
          height: 14px; }
      .join .inner form .agree_wrap textarea {
        width: 100%;
        height: 150px;
        resize: none;
        box-sizing: border-box;
        padding: 30px;
        background: #f5f5f5;
        border: none;
        font: 500 14px/2 "Open Sans";
        color: #525252;
        margin-bottom: 6px; }
        .join .inner form .agree_wrap textarea.error {
          border: 1px solid orangered;
          background: #fff0f0; }

/* tablet ----------------------------------------- */
/* mobile ----------------------------------------- */
/*.search {
    margin-bottom: 100px;
    text-align: left;

    input[type=text] {
        width: 30%;
        height: 40px;
        border: none;
        background: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
    }

    button {
        width: 14%;
        height: 40px;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}
*/
.gallery .sub_visual {
  background: url(../img/galleryImg7.jpg) no-repeat center/cover;
  position: relative; }
.gallery #gallery {
  width: 100%; }
  .gallery #gallery::after {
    content: "";
    display: block;
    clear: both; }
  .gallery #gallery article {
    width: 25%;
    float: left;
    padding: 0px 16px;
    box-sizing: border-box;
    margin-bottom: 50px; }
    .gallery #gallery article:nth-last-child(1), .gallery #gallery article:nth-last-child(5), .gallery #gallery article:nth-last-child(9), .gallery #gallery article:nth-last-child(13), .gallery #gallery article:nth-last-child(17) {
      border-right: none; }
    .gallery #gallery article .inner {
      width: 100%;
      min-height: 300px; }
      .gallery #gallery article .inner .pic {
        width: 100%;
        height: 200px;
        overflow: hidden; }
        .gallery #gallery article .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 1s;
          filter: brightness(0.9) saturate(80%); }
          .gallery #gallery article .inner .pic img:hover {
            transform: scale(1.2); }
      .gallery #gallery article .inner h2 {
        font: 16px/1 "Open Sans";
        color: #666;
        padding: 20px 0px;
        box-sizing: border-box;
        border-bottom: 1px solid #bbb; }
      .gallery #gallery article .inner p {
        font: 12px/1 "Open Sans";
        color: #aaa;
        padding: 10px 0px;
        box-sizing: border-box;
        border-bottom: 1px solid #aaa; }

#imgPop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: #fff;
  box-sizing: border-box;
  padding: 10vw; }
  #imgPop .pic {
    width: 100%;
    height: 100%; }
    #imgPop .pic img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    #imgPop .pic span {
      font: bold 16px/1 "Open Sans";
      color: #666;
      position: absolute;
      top: 4vw;
      right: 4vw;
      cursor: pointer; }

.youtube {
  padding: 0px; }
  .youtube .sub_visual {
    background: url(../img/youtubeImg4.jpg) no-repeat center/cover;
    position: relative; }
  .youtube .inner {
    /*
    #ban {
        width: 1180px;
        height: 340px;
        background: #f1f1f1;
        margin: 0px auto;
        margin-top: 80px;
        margin-bottom: 120px;
    }
    */ }
    .youtube .inner .txt_subcont p {
      margin-bottom: 0px; }
    .youtube .inner .vidList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      margin-bottom: 100px; }
      .youtube .inner .vidList article {
        width: 28%;
        margin: 0 auto;
        height: 220px;
        margin-top: 50px;
        margin-bottom: 100px;
        position: relative;
        filter: saturate(25%); }
        .youtube .inner .vidList article:nth-child(1) {
          width: 100%;
          height: 450px;
          position: relative;
          margin-bottom: -40px;
          /*
          &::after {
              content: "";
              display: block;
              width: 100%;
              height: 400px;
              position: absolute;
              top: 70px;
              left: 0px;
              background: #f0f0f0;
              z-index: -1;
          }
          */ }
          .youtube .inner .vidList article:nth-child(1) .con {
            height: 20%;
            position: absolute;
            bottom: 120px;
            left: -20px; }
            .youtube .inner .vidList article:nth-child(1) .con h2 {
              width: 400px;
              height: 100px;
              padding: 40px;
              box-sizing: border-box;
              background: #fff; }
            .youtube .inner .vidList article:nth-child(1) .con p {
              display: none; }
        .youtube .inner .vidList article .pic {
          display: block;
          width: 100%;
          height: 80%;
          overflow: hidden;
          position: relative; }
          .youtube .inner .vidList article .pic::after {
            content: "VIEW";
            font: 18px/1 'Nanum Myeongjo';
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.5s;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.5); }
          .youtube .inner .vidList article .pic:hover::after {
            opacity: 1; }
          .youtube .inner .vidList article .pic > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s; }
        .youtube .inner .vidList article .con {
          width: 100%;
          height: 40%;
          box-sizing: border-box;
          padding: 20px;
          margin: 0 auto; }
          .youtube .inner .vidList article .con h2 {
            font: 600 16px/1 "Open Sans";
            color: #444;
            margin-bottom: 15px; }
          .youtube .inner .vidList article .con p {
            margin-bottom: 15px;
            font: 14px/1.4 "Open Sans";
            color: #888; }
          .youtube .inner .vidList article .con span {
            font: bold 16px/1 "Open Sans";
            color: orange;
            margin-bottom: 20px; }

.vidPop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5; }
  .vidPop .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center; }
  .vidPop > span {
    position: absolute;
    top: 80px;
    right: 100px;
    color: orange;
    cursor: pointer;
    font: 800 20px/1 "Nanum Myeongjo";
    color: #eee; }

.location .sub_visual {
  background: url(../img/locationImg5.jpg) no-repeat center/cover;
  position: relative; }
.location .inner {
  position: relative; }
  .location .inner #map {
    width: 100%;
    height: 480px;
    filter: saturate(65%); }
    .location .inner #map .traffic {
      position: absolute;
      bottom: 34px;
      left: 20px;
      z-index: 2; }
      .location .inner #map .traffic::after {
        content: "";
        display: block;
        clear: both; }
      .location .inner #map .traffic li {
        background: #fff;
        padding: 4px 10px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-right: 6px;
        transition: 0.5s;
        border: 1px solid #aaa; }
        .location .inner #map .traffic li a {
          font: 400 12px/20px "Open Sans";
          color: #444; }
        .location .inner #map .traffic li.on {
          display: block;
          background: #333;
          border: 0px; }
          .location .inner #map .traffic li.on a {
            color: #eee; }
  .location .inner .branch {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px; }
    .location .inner .branch::before {
      border-bottom: 1px solid #ccc; }
    .location .inner .branch::after {
      content: "";
      display: block;
      clear: both;
      border-top: 1px solid #ccc; }
    .location .inner .branch li {
      width: 33.3%;
      float: left;
      padding: 18px;
      box-sizing: border-box;
      font: 800 16px/1 "Open Sans";
      text-align: center;
      transition: 0.5s; }
      .location .inner .branch li:last-child {
        margin-right: 0px; }
      .location .inner .branch li a {
        font: 400 16px/1 "Open Sans";
        color: #444; }
      .location .inner .branch li.on a {
        font-weight: bold;
        color: #000; }
  .location .inner .mapcont {
    width: 100%;
    margin-top: 100px; }
    .location .inner .mapcont article::after {
      content: "";
      display: block;
      clear: both; }
    .location .inner .mapcont article .mapcont_left {
      width: 25%;
      float: left;
      margin: 0px auto;
      text-align: center;
      padding: 20px;
      box-sizing: border-box; }
      .location .inner .mapcont article .mapcont_left > div span {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: #222;
        color: #fff; }
        .location .inner .mapcont article .mapcont_left > div span i {
          font-size: 40px;
          line-height: 100px; }
      .location .inner .mapcont article .mapcont_left > div p {
        font: 400 14px/4 "Open Sans";
        color: #666; }
    .location .inner .mapcont article .mapcont_right {
      float: left;
      width: 75%;
      border-top: 1px solid #eee;
      padding: 40px 20px;
      padding-left: 40px;
      box-sizing: border-box; }
      .location .inner .mapcont article .mapcont_right h3 {
        font: 800 18px/1 "Open Sans";
        color: #333;
        margin-bottom: 10px; }
      .location .inner .mapcont article .mapcont_right p {
        font: 400 14px/1 "Open Sans";
        color: #666;
        margin-bottom: 80px; }
      .location .inner .mapcont article .mapcont_right span {
        font: 400 14px/1 "Open Sans";
        color: #444; }

body {
  widtH: 100%;
  overflow-x: hidden; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header .util_wrap {
    width: 100%;
    height: 30px;
    background: #f5f5f5; }
    #header .util_wrap .util_main {
      width: 1180px;
      margin: 0px auto;
      position: relative; }
      #header .util_wrap .util_main .util {
        position: absolute;
        right: 26px; }
        #header .util_wrap .util_main .util::after {
          content: "";
          display: block;
          clear: both; }
        #header .util_wrap .util_main .util li {
          float: left; }
          #header .util_wrap .util_main .util li a {
            display: block;
            font: 400 12px/1 'Open Sans';
            color: #666;
            padding: 0px 10px;
            border-right: 1px solid #aaa;
            margin-top: 7px; }
          #header .util_wrap .util_main .util li:nth-child(2) a {
            color: #999; }
          #header .util_wrap .util_main .util li:last-child a {
            border-right: none; }
        #header .util_wrap .util_main .util::after {
          content: '';
          display: block;
          clear: both; }
  #header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 0;
      bottom: 19px;
      letter-spacing: 3px; }
      #header .inner > h1 a {
        font: 800 24px/1 'Nanum Myeongjo';
        color: #444; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0px;
      right: 0; }
      #header .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .menuWeb #gnb > li {
        float: left; }
        #header .inner .menuWeb #gnb > li > a {
          display: block;
          padding: 14px 40px;
          height: 42px;
          font: 600 14px/42px 'Nanum Myeongjo';
          color: #777;
          transition: all 0.5s; }
          #header .inner .menuWeb #gnb > li > a:hover {
            color: #000; }
        #header .inner .menuWeb #gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 70px;
          right: 0px;
          display: none; }
          #header .inner .menuWeb #gnb > li .sub .left {
            width: 65%;
            height: 100%;
            background: #f3f3f3;
            float: left;
            padding: 64px;
            box-sizing: border-box; }
            #header .inner .menuWeb #gnb > li .sub .left .sub_con1, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              padding: 80px 64px; }
              #header .inner .menuWeb #gnb > li .sub .left .sub_con1 h3, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 h3 {
                font: bold 16px/1 "Open Sans";
                color: #555;
                margin-bottom: 20px; }
              #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul {
                float: left;
                padding-right: 34px;
                box-sizing: border-box; }
                #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a {
                  font: 15px/2.4 "Open Sans";
                  color: #777;
                  transition: 0.5s; }
                  #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a:hover, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a:hover {
                    color: #ca6262; }
            #header .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              left: 480px; }
          #header .inner .menuWeb #gnb > li .sub .right {
            width: 35%;
            height: 100%;
            background: #f3f3f3;
            float: right;
            position: absolute;
            top: 0;
            right: 0; }
            #header .inner .menuWeb #gnb > li .sub .right .box {
              width: 260px;
              height: 220px;
              margin: 0px auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
              #header .inner .menuWeb #gnb > li .sub .right .box img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
              #header .inner .menuWeb #gnb > li .sub .right .box .boxbtn {
                height: 220px;
                background: #444;
                padding: 16px;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 85%;
                transform: translateY(-50%); }
                #header .inner .menuWeb #gnb > li .sub .right .box .boxbtn span i {
                  font-size: 16px;
                  color: #fff;
                  margin-top: 165px;
                  cursor: pointer; }
          #header .inner .menuWeb #gnb > li .sub::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 100%;
            background: #f3f3f3; }
          #header .inner .menuWeb #gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 100%;
            background: #f3f3f3; }
    #header .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .menuMo {
      position: fixed;
      top: 0;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box;
      z-index: 10; }
      #header .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 'Open Sansl';
          color: #fff;
          text-align: center; }
        #header .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 'Open Sans';
        color: #888;
        text-align: center; }
      #header .inner .menuMo.on {
        left: 0; }

/* visual ------------------------------ */
#visual {
  width: 100%;
  height: calc(100vh - 121px);
  position: relative;
  overflow: hidden; }
  #visual .mainpic {
    width: 83%;
    height: 650px;
    background: #ddd; }
    #visual .mainpic h1 {
      position: absolute;
      top: 12vh;
      left: 19vw;
      font: 800 2vw/1.6 "Nanum Myeongjo";
      color: #333; }
  #visual .mainCon {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0; }
    #visual .mainCon::after {
      content: "";
      display: block;
      clear: both; }
    #visual .mainCon article {
      float: left;
      width: 20%; }
      #visual .mainCon article h3 {
        font: 14px/1.6 "Open Sans";
        color: #777;
        padding: 0px 0px 50px 50px;
        box-sizing: border-box; }
        #visual .mainCon article h3::after {
          content: "";
          width: 2px;
          height: 1px;
          border: 1px solid #444;
          margin-left: 105px; }
      #visual .mainCon article .Conpic {
        width: 100%;
        height: 240px; }
      #visual .mainCon article h2 {
        width: 100%;
        height: 100px;
        background: #fff;
        text-align: center;
        font: 16px/100px "Open Sans";
        color: #333; }
      #visual .mainCon article:nth-child(1) h2 {
        background: #000;
        color: #fff; }
      #visual .mainCon article:nth-of-type(odd) .Conpic {
        background: #555; }
      #visual .mainCon article:nth-of-type(even) .Conpic {
        background: #111; }
      #visual .mainCon article:nth-child(4) h3::after {
        display: none; }
  #visual .mainBtn {
    position: absolute;
    top: 37vh;
    right: 0vw;
    font-size: 0; }
    #visual .mainBtn a {
      display: inline-block;
      padding: 55px 90px;
      box-sizing: border-box;
      background: #666;
      font: 800 20px/1 'Nanum Myeongjo';
      color: #fff; }
      #visual .mainBtn a:nth-of-type(1) {
        background: #333; }

#ban00 {
  width: 100%;
  padding: 200px;
  box-sizing: border-box;
  background: #fff; }
  #ban00 p {
    font: 400 0.7vw/1.4 "Open Sans";
    color: #aaa;
    text-align: center;
    margin-bottom: 40px; }
  #ban00 h2 {
    font: 800 1vw/1.4 "Nanum Myeongjo";
    color: #525252;
    text-align: center; }

#Section01 {
  margin-bottom: 200px;
  width: 100%;
  height: 900px;
  position: relative;
  background: #eee;
  overflow: hidden;
  /* 좌우버튼 */
  /* 페이징 버튼 */ }
  #Section01 .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #Section01 .swiper-wrapper .swiper-slide {
      width: 500px;
      height: 500px;
      background: #ddd;
      position: relative;
      top: 50%;
      margin-top: -250px;
      padding: 50px;
      box-sizing: border-box; }
      #Section01 .swiper-wrapper .swiper-slide .inner .con {
        position: relative;
        z-index: 10; }
        #Section01 .swiper-wrapper .swiper-slide .inner .con h2 {
          font: normal 22px/1 "Nanum Myeongjo";
          color: #444;
          margin-top: 30px;
          margin-bottom: 20px; }
        #Section01 .swiper-wrapper .swiper-slide .inner .con p {
          font: normal 13px/1 "Open Sans";
          color: #888; }
        #Section01 .swiper-wrapper .swiper-slide .inner .con img {
          width: 100%;
          height: 300px;
          object-fit: cover; }
  #Section01 .swiper-button-prev {
    position: absolute;
    left: auto;
    top: 100px;
    right: 105px;
    color: #555;
    filter: brightness(2);
    transform: scale(0.6); }
  #Section01 .swiper-button-next {
    position: absolute;
    left: auto;
    top: 100px;
    right: 60px;
    color: #555;
    filter: brightness(2);
    transform: scale(0.6); }
  #Section01 .swiper-pagination-fraction {
    bottom: auto;
    top: 90px;
    left: 60px;
    right: auto;
    font-family: 'Nanum Myeongjo';
    color: #aaa;
    font-size: 18px;
    letter-spacing: 1px;
    width: auto; }
  #Section01 .swiper-pagination-fraction span:nth-of-type(1) {
    font-size: 32px;
    font-family: 'Nanum Myeongjo';
    color: #555; }

#Section02 {
  width: 100%;
  box-sizing: border-box;
  min-height: 900px; }
  #Section02 .inner {
    width: 1180px;
    margin: 0px auto; }
    #Section02 .inner::after {
      content: "";
      display: block;
      clear: both; }
    #Section02 .inner .section02_left {
      float: left;
      width: 75%;
      position: relative; }
      #Section02 .inner .section02_left span {
        display: block;
        position: absolute;
        top: 2px;
        left: 350px;
        font: 400 1vw/1 "Nanum Myeongjo";
        color: #888; }
      #Section02 .inner .section02_left h2 {
        position: absolute;
        top: 32px;
        left: 350px;
        font: 800 2vw/1.2 "Nanum Myeongjo";
        color: #333; }
      #Section02 .inner .section02_left .sec02pic {
        position: relative; }
        #Section02 .inner .section02_left .sec02pic .sec02pic-1 {
          position: absolute;
          top: 100px;
          left: 0;
          width: 13vw;
          height: 33vh;
          background: #ccc; }
        #Section02 .inner .section02_left .sec02pic .sec02pic-2 {
          position: absolute;
          top: 200px;
          left: 40%;
          width: 16vw;
          height: 40vh;
          background: #907676; }
        #Section02 .inner .section02_left .sec02pic .sec02pic-3 {
          position: absolute;
          top: 490px;
          left: 26%;
          width: 9vw;
          height: 24vh;
          background: #eee; }
    #Section02 .inner .section02_right {
      float: right;
      width: 30%; }
      #Section02 .inner .section02_right div h2 {
        font: 800 1.4vw/1 "Nanum Myeongjo";
        color: #333;
        margin-top: 94px;
        margin-bottom: 40px; }
      #Section02 .inner .section02_right div:nth-of-type(2) h2 {
        margin-top: 16px; }
      #Section02 .inner .section02_right div p {
        font: 400 0.8vw/1.4 "Open Sans";
        color: #888;
        margin-bottom: 30px; }
      #Section02 .inner .section02_right div span {
        display: inline-block;
        font: 400 1.2vw/1.2 "Nanum Myeongjo";
        color: #ddd;
        margin-bottom: 50px;
        letter-spacing: 1px; }

#ban01 {
  width: 100%;
  padding: 200px;
  box-sizing: border-box;
  background: #555; }

#Section03 {
  width: 100%;
  padding: 150px;
  box-sizing: border-box;
  min-height: 900px; }
  #Section03 .inner {
    width: 1180px;
    margin: 0px auto; }
    #Section03 .inner::after {
      content: "";
      display: block;
      clear: both; }
    #Section03 .inner .section03_left {
      float: left;
      width: 30%; }
      #Section03 .inner .section03_left div span {
        display: inline-block;
        font: 400 1vw/1.2 "Open San";
        color: #ddd;
        margin-bottom: 28px; }
      #Section03 .inner .section03_left div h2 {
        font: 800 1.4vw/1 "Nanum Myeongjo";
        color: #333;
        margin-bottom: 60px; }
      #Section03 .inner .section03_left div p {
        font: 400 0.8vw/1.8 "Open Sans";
        color: #888;
        margin-bottom: 80px; }
      #Section03 .inner .section03_left div a {
        display: block;
        width: 200px;
        height: 50px;
        background: #333;
        color: #eee;
        text-align: center;
        font: 800 0.8vw/50px "Nanum Myeongjo";
        letter-spacing: 2px; }
    #Section03 .inner .section03_right {
      float: right;
      width: 70%;
      position: relative; }
      #Section03 .inner .section03_right .sec03pic .sec03pic-1 {
        position: absolute;
        top: 0px;
        right: 0;
        width: 24vw;
        height: 66vh;
        background: #ccc; }
      #Section03 .inner .section03_right .sec03pic .sec03pic-2 {
        position: absolute;
        top: 186px;
        right: 44%;
        width: 11vw;
        height: 30vh;
        background: #907676; }

#Section04 {
  width: 100%;
  padding: 150px;
  box-sizing: border-box;
  min-height: 900px; }
  #Section04 .inner {
    width: 1180px;
    margin: 0px auto; }
    #Section04 .inner::after {
      content: "";
      display: block;
      clear: both; }
    #Section04 .inner .section04_left {
      float: left;
      width: 25%;
      position: relative; }
      #Section04 .inner .section04_left h2 {
        font: 800 2vw/1.4 "Nanum Myeongjo";
        color: #333;
        margin-bottom: 54px; }
      #Section04 .inner .section04_left p {
        font: 400 0.8vw/1.4 "Open Sans";
        color: #888;
        margin-bottom: 40px; }
      #Section04 .inner .section04_left .sec04pic {
        width: 14vw;
        height: 46vh;
        background: #ccc; }
    #Section04 .inner .section04_right {
      float: right;
      width: 75%;
      padding-left: 40px;
      box-sizing: border-box;
      text-align: center; }
      #Section04 .inner .section04_right div {
        border-bottom: 1px solid #ccc;
        margin-bottom: 34px; }
        #Section04 .inner .section04_right div::after {
          content: "";
          display: block;
          clear: both; }
        #Section04 .inner .section04_right div h1 {
          float: left;
          width: 70%;
          font: 800 26px/1 'Nanum Myeongjo';
          color: #525252;
          text-align: left; }
          #Section04 .inner .section04_right div h1 span {
            display: block;
            font: 800 18px/2.5 'Nanum Myeongjo';
            color: #525252; }
        #Section04 .inner .section04_right div p {
          float: right;
          width: 30%;
          font: 14px/1.8 'Open Sans';
          color: #888;
          margin-bottom: 30px;
          text-align: left; }
      #Section04 .inner .section04_right a {
        display: inline-block;
        width: 200px;
        height: 50px;
        background: #333;
        color: #eee;
        text-align: center;
        font: 800 0.8vw/50px "Nanum Myeongjo";
        letter-spacing: 2px;
        margin-top: 34px; }

#Section05 {
  width: 100%;
  padding: 80px;
  box-sizing: border-box; }
  #Section05 .inner {
    width: 1180px;
    margin: 0px auto;
    text-align: center; }
    #Section05 .inner::after {
      content: "";
      display: block;
      clear: both; }
    #Section05 .inner h1 {
      font: 800 1.4vw/1.2 "Nanum Myeongjo";
      color: #333;
      margin-bottom: 100px; }
    #Section05 .inner article {
      float: left;
      margin: 0px auto;
      width: 33.2%; }
      #Section05 .inner article:nth-of-type(2) {
        display: block;
        height: 660px;
        background: #eee;
        margin: 0 auto; }
      #Section05 .inner article div {
        margin: 0px auto; }
        #Section05 .inner article div h2 {
          margin-bottom: 20px;
          font: 800 1.5vw/1.2 "Nanum Myeongjo";
          color: #424242; }
        #Section05 .inner article div:nth-of-type(1) h2 {
          margin-top: 130px; }
        #Section05 .inner article div p {
          margin-bottom: 140px;
          font: 400 0.77vw/1.4 "Open Sans";
          color: #aaa; }

#Section06 {
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  margin-bottom: 90px; }
  #Section06 .inner {
    width: 1180px;
    margin: 0px auto; }
    #Section06 .inner .sec06_tit {
      position: relative; }
      #Section06 .inner .sec06_tit h2 {
        font: 800 1.4vw/1.3 "Nanum Myeongjo";
        color: #333; }
      #Section06 .inner .sec06_tit p {
        font: 400 0.8vw/1 "Open Sans";
        color: #888;
        margin-bottom: 30px; }
      #Section06 .inner .sec06_tit h3 {
        font: 800 1vw/1.3 "Nanum Myeongjo";
        color: #666;
        position: absolute;
        right: 0;
        bottom: 0; }
    #Section06 .inner .sec06_con {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      #Section06 .inner .sec06_con article div {
        display: inline-block;
        width: 260px;
        height: 280px;
        background: #eee; }
      #Section06 .inner .sec06_con article:nth-of-type(2) {
        margin-top: 280px; }
      #Section06 .inner .sec06_con article:nth-of-type(4) {
        margin-top: 100px; }

/* footer --------------------------- */
#footer {
  width: 100%;
  padding: 100px 0;
  border-top: 1px solid #ddd; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner h1 {
      font: 800 24px/1 'Nanum Myeongjo';
      color: #444;
      float: left;
      letter-spacing: 3px; }
    #footer .inner ul {
      float: right; }
      #footer .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer .inner ul li a {
          font: 700 14px/1 'Nanum Myeongjo';
          color: #555; }
    #footer .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 'Open Sans';
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer .inner p {
      font: 12px/1 'Open Sans';
      color: #777;
      width: 100%;
      float: left; }
    #footer .inner::after {
      content: '';
      display: block;
      clear: both; }

/* tablet  ------------------------------------------ */
@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px; }
    #header .inner > h1 {
      left: 20px; }
    #header .inner .menuWeb {
      display: none; }
    #header .inner .btnCall {
      display: block; }

  /* footer --------------------------- */
  #footer {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer .inner {
      width: 100%; } }
/* mobile ----------------------------------------------------------- */
@media screen and (max-width: 539px) {
  /* footer --------------------------- */
  #footer .inner h1 {
    margin-bottom: 20px; }
  #footer .inner ul {
    width: 100%; }
    #footer .inner ul li {
      margin-left: 0px;
      margin: 5px; } }

/*# sourceMappingURL=style.css.map */
