@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

table, th, td {
  border-collapse: collapse; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

input, a, img, span, label, select {
  vertical-align: middle; }

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header_sub .util_wrap {
    width: 100%;
    height: 30px;
    background: #f5f5f5; }
    #header_sub .util_wrap .util_main {
      width: 1180px;
      margin: 0px auto;
      position: relative; }
      #header_sub .util_wrap .util_main .util {
        position: absolute;
        right: 26px; }
        #header_sub .util_wrap .util_main .util::after {
          content: "";
          display: block;
          clear: both; }
        #header_sub .util_wrap .util_main .util li {
          float: left; }
          #header_sub .util_wrap .util_main .util li a {
            display: block;
            font: 400 12px/1 'Open Sans';
            color: #666;
            padding: 0px 10px;
            border-right: 1px solid #aaa;
            margin-top: 7px; }
          #header_sub .util_wrap .util_main .util li:nth-child(2) a {
            color: #999; }
          #header_sub .util_wrap .util_main .util li:last-child a {
            border-right: none; }
        #header_sub .util_wrap .util_main .util::after {
          content: '';
          display: block;
          clear: both; }
  #header_sub .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      left: 0;
      bottom: 19px;
      letter-spacing: 3px; }
      #header_sub .inner > h1 a {
        font: 800 24px/1 'Nanum Myeongjo';
        color: #444; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      bottom: 14px;
      right: 0; }
      #header_sub .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb #gnb > li {
        float: left; }
        #header_sub .inner .menuWeb #gnb > li > a {
          display: block;
          padding: 0px 40px;
          height: 42px;
          font: 600 14px/42px 'Nanum Myeongjo';
          color: #777;
          transition: all 0.5s; }
          #header_sub .inner .menuWeb #gnb > li > a:hover {
            color: #000; }
        #header_sub .inner .menuWeb #gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 56px;
          right: 0px;
          display: none; }
          #header_sub .inner .menuWeb #gnb > li .sub .left {
            width: 65%;
            height: 100%;
            background: #f3f3f3;
            float: left;
            padding: 64px;
            box-sizing: border-box; }
            #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              padding: 80px 64px; }
              #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 h3, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 h3 {
                font: bold 16px/1 "Open Sans";
                color: #555;
                margin-bottom: 20px; }
              #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul {
                float: left;
                padding-right: 34px;
                box-sizing: border-box; }
                #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a {
                  font: 15px/2.4 "Open Sans";
                  color: #777;
                  transition: 0.5s; }
                  #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a:hover, #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a:hover {
                    color: #ca6262; }
            #header_sub .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              left: 480px; }
          #header_sub .inner .menuWeb #gnb > li .sub .right {
            width: 35%;
            height: 100%;
            background: #f3f3f3;
            float: right;
            position: absolute;
            top: 0;
            right: 0; }
            #header_sub .inner .menuWeb #gnb > li .sub .right .box {
              width: 260px;
              height: 220px;
              margin: 0px auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
              #header_sub .inner .menuWeb #gnb > li .sub .right .box img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
              #header_sub .inner .menuWeb #gnb > li .sub .right .box .boxbtn {
                height: 220px;
                background: #444;
                padding: 16px;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 85%;
                transform: translateY(-50%); }
                #header_sub .inner .menuWeb #gnb > li .sub .right .box .boxbtn span i {
                  font-size: 16px;
                  color: #fff;
                  margin-top: 165px; }
          #header_sub .inner .menuWeb #gnb > li .sub::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 100%;
            background: #f3f3f3; }
          #header_sub .inner .menuWeb #gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 100%;
            background: #f3f3f3; }
    #header_sub .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header_sub .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header_sub .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header_sub .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header_sub .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .menuMo {
      position: fixed;
      top: 0;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box;
      z-index: 10; }
      #header_sub .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 'Open Sansl';
          color: #fff;
          text-align: center; }
        #header_sub .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header_sub .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 'Open Sans';
        color: #888;
        text-align: center; }
      #header_sub .inner .menuMo.on {
        left: 0; }

.content {
  width: 100%;
  padding: 0px 0px 150px; }
  .content .sub_visual {
    width: 100%;
    height: 280px;
    background: #ddd;
    margin-bottom: 100px;
    position: relative; }
    .content .sub_visual::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(71, 71, 71, 0.2); }
    .content .sub_visual h1 {
      font: bold 24px/1 "Nanum Myeongjo";
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
      .content .sub_visual h1 span {
        font: 600 16px/1 'Nanum Myeongjo';
        color: #eee; }
        .content .sub_visual h1 span::before {
          content: '/';
          margin-right: 20px;
          margin-left: 10px; }
  .content .inner {
    width: 1180px;
    margin: 0px auto;
    min-height: 500px; }
    .content .inner .subtit {
      font: bold 22px/1 "Nanum Myeongjo";
      color: #555;
      margin-bottom: 50px; }
    .content .inner > p {
      font: 13px/2 "Nanum Myeongjo";
      color: #aaa; }

/* footer --------------------------- */
#footer_sub {
  width: 100%;
  padding: 100px 0;
  border-top: 1px solid #ddd; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner h1 {
      font: 800 24px/1 'Nanum Myeongjo';
      color: #444;
      float: left;
      letter-spacing: 3px; }
    #footer_sub .inner ul {
      float: right; }
      #footer_sub .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer_sub .inner ul li a {
          font: 700 14px/1 'Nanum Myeongjo';
          color: #555; }
    #footer_sub .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 'Open Sans';
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer_sub .inner p {
      font: 12px/1 'Open Sans';
      color: #777;
      width: 100%;
      float: left; }
    #footer_sub .inner::after {
      content: '';
      display: block;
      clear: both; }

/* tablet -------------------------------------- */
@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px; }
    #header_sub .inner > h1 {
      left: 20px; }
    #header_sub .inner .menuWeb {
      display: none; }
    #header_sub .inner .btnCall {
      display: block; }

  .content {
    padding: 0px 0px 100px; }
    .content .sub_visual {
      height: 200px; }
    .content .inner {
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box; }

  /* footer --------------------------- */
  #footer_sub {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer_sub .inner {
      width: 100%; } }
/* mobile -------------------------------------- */
@media screen and (max-width: 539px) {
  .content {
    padding: 0px 0px 80px; }
    .content .sub_visual {
      height: 150px; }
    .content .inner h1 span {
      display: block;
      margin-top: 10px; }

  /* footer --------------------------- */
  #footer_sub .inner h1 {
    margin-bottom: 20px; }
  #footer_sub .inner ul {
    width: 100%; }
    #footer_sub .inner ul li {
      margin-left: 0px;
      margin: 5px; } }
.community .sub_visual {
  background: url(../img/communityImg5.jpg) no-repeat center/cover;
  position: relative; }
.community table {
  width: 100%;
  border-bottom: 2px solid #ddd; }
  .community table th {
    border-bottom: 2px solid #ddd;
    padding: 30px;
    color: #444;
    font: bold 16px/1 "Open Sans"; }
    .community table th:nth-of-type(1) {
      width: 10%; }
    .community table th:nth-of-type(2) {
      width: 60%; }
    .community table th:nth-of-type(3) {
      width: 15%; }
    .community table th:nth-of-type(4) {
      width: 15%; }
  .community table td {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font: 400 15px/1 "Open Sans"; }
    .community table td:nth-of-type(2) {
      text-align: left; }
    .community table td a:link {
      color: #444; }
.community .pagination {
  width: 100%;
  text-align: center;
  margin-top: 60px; }
  .community .pagination .numbers {
    display: inline-block;
    font-size: 0; }
    .community .pagination .numbers a {
      display: inline-block;
      width: 40px;
      height: 40px;
      font: 400 14px/40px "Open Sans";
      color: #666;
      text-align: center;
      margin: 0 3px;
      transition: 0.4s; }
      .community .pagination .numbers a:hover {
        font-weight: bold;
        color: #111;
        text-decoration: underline; }
  .community .pagination .prev {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font: 15px/40px "Open Sans";
    color: #aaa;
    text-align: center;
    box-sizing: border-box;
    vertical-align: bottom; }
  .community .pagination .next {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font: 15px/40px "Open Sans";
    color: #aaa;
    text-align: center;
    box-sizing: border-box;
    vertical-align: bottom; }

/* tablet ----------------------------------------- */
/* mobile ----------------------------------------- */
@media screen and (max-width: 539px) {
  .community .inner h1 {
    font-size: 45px; } }
.department {
    /*
    .mainwrap {
        width: 100%;
        height: 700px;
        // background: #eee;
        padding: 40px;
        box-sizing: border-box;
        position: relative;

        .mem_main {
            width: 1180px;
            margin: 0px auto;
            position: absolute;
            left: 50%;
            top: 48%;
            transform: translate(-50%,-50%);

            &::after { content: ""; display: block; clear: both; }

            .Member_left {
                float: left;
                width: 20%;
                height: 320px;
                margin-right: 20px;
                background:#cf9999;
            }

            .Member_right {
                float: right;
                width: 75%;
                // height: 400px;
                // background: #333;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                article {
                    width: 180px;
                    height: 220px;
                    background: #ddd;
                    margin-bottom: 50px;

                    h2 {
                        font: 12px/1 "arial";
                        color: #555;
                    }
                }
            }
        }
    }
    */ }
  .department .sub_visual {
    background: url(../img/departmentImg3.jpg) no-repeat top/cover;
    position: relative; }
  .department .inner {
    min-height: 0px; }
    .department .inner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8; }
  .department .contentTxt_wrap {
    width: 75%;
    background: #fafafa;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly; }
    .department .contentTxt_wrap .conTxt {
      position: relative; }
      .department .contentTxt_wrap .conTxt h2 {
        font: 800 22px/1 "Nanum Myeongjo";
        color: #676767;
        margin-bottom: 30px; }
        .department .contentTxt_wrap .conTxt h2::before {
          content: "+";
          display: block;
          widtH: 50px;
          height: 50px;
          border-radius: 50px;
          background: #fff;
          box-shadow: 2px 2px 8px 2px rgba(83, 83, 83, 0.1);
          text-align: center;
          font: 200 26px/49px "Open Sansl";
          color: #444;
          margin-bottom: 20px; }
        .department .contentTxt_wrap .conTxt h2:hover {
          color: #000;
          cursor: pointer; }
      .department .contentTxt_wrap .conTxt p {
        font: 14px/1.5 "Open Sansl";
        color: #aaa; }
        .department .contentTxt_wrap .conTxt p::before {
          content: "";
          display: block;
          border: 0px solid #111;
          width: 30%;
          height: 0.5px;
          background: #666;
          margin-bottom: 10px; }
      .department .contentTxt_wrap .conTxt span {
        font: 800 140px/1 "Nanum Myeongjo";
        color: rgba(214, 214, 214, 0.2);
        position: absolute;
        top: 50px;
        left: 100px; }
  .department .mainwrap {
    width: 100%;
    height: 700px;
    margin-top: 180px;
    padding: 40px;
    box-sizing: border-box;
    position: relative; }
    .department .mainwrap .mem_main {
      width: 1180px;
      margin: 0px auto;
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%); }
      .department .mainwrap .mem_main::after {
        content: "";
        display: block;
        clear: both; }
      .department .mainwrap .mem_main .Member_left {
        float: left;
        width: 19%;
        height: 290px;
        margin-right: 20px;
        background: #444; }
        .department .mainwrap .mem_main .Member_left .memtit {
          padding: 26px;
          box-sizing: border-box; }
          .department .mainwrap .mem_main .Member_left .memtit span {
            display: inline-block;
            font: 11px/1 "Open Sansl";
            color: #888;
            margin-bottom: 12px; }
          .department .mainwrap .mem_main .Member_left .memtit p {
            font: 600 15px/1.8 "Open Sansl";
            color: #ccc; }
      .department .mainwrap .mem_main .Member_right {
        float: right;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        .department .mainwrap .mem_main .Member_right article {
          width: 26%;
          height: 220px;
          background: #e2e4e3;
          margin-bottom: 50px;
          position: relative; }
          .department .mainwrap .mem_main .Member_right article .txt {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: -10px;
            transform-origin: bottom left;
            transform: rotate(-90deg); }
            .department .mainwrap .mem_main .Member_right article .txt h3 {
              font: 800 16px/1 "Nanum Myeongjo";
              color: #333; }
              .department .mainwrap .mem_main .Member_right article .txt h3::after {
                content: " / Web Designer";
                display: inline-block;
                font: 11px/1 "Open Sansl";
                color: #999; }

/* tablet ------------------------------ */
/* mobile ---------------------------------- */
.join .sub_visual {
  background: url(../img/joinImg5.jpg) no-repeat center/cover;
  position: relative; }
.join .inner form {
  padding: 40px 0px 0px; }
  .join .inner form h2 {
    font: 18px/1 "arial";
    color: #666;
    text-align: left;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; }
  .join .inner form .join_wrap {
    padding: 24px 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 90px; }
    .join .inner form .join_wrap .member_wrap {
      width: 100%; }
      .join .inner form .join_wrap .member_wrap tr th {
        width: 20%;
        font: 14px/1 "arial";
        color: #111;
        vertical-align: top;
        padding: 23px 12px 16px; }
      .join .inner form .join_wrap .member_wrap tr > td {
        font: 14px/40px "arial";
        padding: 16px 20px;
        color: #666; }
        .join .inner form .join_wrap .member_wrap tr > td input[type=radio] {
          margin-right: 10px;
          position: relative;
          top: -2px; }
        .join .inner form .join_wrap .member_wrap tr > td label {
          margin-right: 15px; }
        .join .inner form .join_wrap .member_wrap tr > td .phone-btn {
          display: block;
          width: 120px;
          height: 40px;
          box-sizing: border-box;
          border: 1px solid #444;
          font: bold 14px/40px "arial";
          color: #555;
          text-align: center;
          margin-top: 10px; }
        .join .inner form .join_wrap .member_wrap tr > td p {
          margin-top: 10px;
          font: 12px/1 "arial";
          color: #888; }
  .join .inner form .join_main {
    padding: 24px 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 90px; }
    .join .inner form .join_main .member_join {
      width: 100%; }
      .join .inner form .join_main .member_join tr th {
        width: 20%;
        font: 14px/1 "arial";
        color: #111;
        vertical-align: top;
        padding: 23px 12px 16px; }
      .join .inner form .join_main .member_join td {
        width: 80%;
        padding: 16px 20px;
        color: #666; }
        .join .inner form .join_main .member_join td input[type=text],
        .join .inner form .join_main .member_join td input[type=password] {
          width: 45%;
          height: 30px;
          border: 1px solid #ddd;
          padding-left: 14px; }
          .join .inner form .join_main .member_join td input[type=text].error,
          .join .inner form .join_main .member_join td input[type=password].error {
            border: 1px solid orangered;
            background: #fff0f0; }
        .join .inner form .join_main .member_join td select {
          width: 28%;
          border: 1px solid #ddd;
          padding: 7px 10px;
          box-sizing: border-box; }
          .join .inner form .join_main .member_join td select option {
            font-size: 14px; }
        .join .inner form .join_main .member_join td #phone-number2, .join .inner form .join_main .member_join td #phone-number3,
        .join .inner form .join_main .member_join td #birth, .join .inner form .join_main .member_join td #birth-mon, .join .inner form .join_main .member_join td #birth-day {
          width: 18%; }
        .join .inner form .join_main .member_join td .gBlack5 {
          display: block;
          margin-top: 5px; }
        .join .inner form .join_main .member_join td #birth-type1 {
          padding-right: 10px; }
        .join .inner form .join_main .member_join td > p {
          margin-top: 10px;
          font: 12px/1 "arial";
          color: orangered;
          display: none; }
          .join .inner form .join_main .member_join td > p.error {
            display: block; }
  .join .inner form .agree_wrap::after {
    content: "";
    display: block;
    clear: both; }
  .join .inner form .agree_wrap .agree_tit {
    font: normal 16px/1.3 "arial";
    color: #222;
    border-bottom: none;
    letter-spacing: -1px;
    float: left; }
    .join .inner form .agree_wrap .agree_tit:nth-of-type(2) {
      margin-top: 80px; }
  .join .inner form .agree_wrap .agreement {
    float: right;
    font: 12px/1 "arial";
    color: #222; }
    .join .inner form .agree_wrap .agreement input[type=checkbox] {
      width: 14px;
      height: 14px; }
  .join .inner form .agree_wrap textarea {
    width: 100%;
    height: 130px;
    resize: none;
    box-sizing: border-box;
    padding: 30px;
    background: #f5f5f5;
    border: none;
    font: 14px/1.8 "arial";
    color: #555;
    margin-bottom: 6px; }
    .join .inner form .agree_wrap textarea.error {
      border: 1px solid orangered;
      background: #fff0f0; }
  .join .inner form .btn {
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 100px; }
    .join .inner form .btn input[type=reset], .join .inner form .btn input[type=submit] {
      text-align: center;
      font: bold 14px/40px "arial";
      color: #eee;
      width: 20%;
      height: 40px;
      margin: 0px 10px;
      cursor: pointer;
      border: 0px;
      background: #aaa;
      transition: 0.6s; }
      .join .inner form .btn input[type=reset]:hover, .join .inner form .btn input[type=submit]:hover {
        background: #333;
        color: #fff; }

/* tablet ----------------------------------------- */
/* mobile ----------------------------------------- */
.search {
  margin-bottom: 80px;
  text-align: center; }
  .search input[type=text] {
    width: 30%;
    height: 40px;
    border: none;
    background: #f3f3f3;
    padding: 20px;
    box-sizing: border-box; }
  .search button {
    width: 14%;
    height: 40px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer; }

.gallery .sub_visual {
  background: url(../img/galleryImg7.jpg) no-repeat center/cover;
  position: relative; }
.gallery #gallery {
  width: 100%; }
  .gallery #gallery::after {
    content: "";
    display: block;
    clear: both; }
  .gallery #gallery article {
    width: 25%;
    float: left;
    padding: 0px 16px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    margin-bottom: 50px; }
    .gallery #gallery article:nth-last-child(1), .gallery #gallery article:nth-last-child(5), .gallery #gallery article:nth-last-child(9), .gallery #gallery article:nth-last-child(13), .gallery #gallery article:nth-last-child(17) {
      border-right: none; }
    .gallery #gallery article .inner {
      width: 100%;
      min-height: 300px; }
      .gallery #gallery article .inner .pic {
        overflow: hidden; }
        .gallery #gallery article .inner .pic img {
          transition: 1s; }
          .gallery #gallery article .inner .pic img:hover {
            transform: scale(1.2); }
      .gallery #gallery article .inner h2 {
        font: 20px/1 "Open Sans";
        color: #666;
        padding: 20px 0px;
        box-sizing: border-box;
        border-bottom: 1px solid #bbb; }
      .gallery #gallery article .inner p {
        font: 12px/1 "Open Sans";
        color: #aaa;
        padding: 10px 0px;
        box-sizing: border-box;
        border-bottom: 1px solid #aaa; }
      .gallery #gallery article .inner .pic {
        width: 100%;
        height: 200px; }
        .gallery #gallery article .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

#imgPop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: #fff;
  box-sizing: border-box;
  padding: 10vw; }
  #imgPop .pic {
    width: 100%;
    height: 100%; }
    #imgPop .pic img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    #imgPop .pic span {
      font: bold 16px/1 "Open Sans";
      color: #666;
      position: absolute;
      top: 4vw;
      right: 4vw;
      cursor: pointer; }

.youtube {
  padding: 0px; }
  .youtube .sub_visual {
    background: url(../img/youtubeImg4.jpg) no-repeat center/cover;
    position: relative; }
  .youtube #ban {
    width: 1180px;
    height: 340px;
    background: #f1f1f1;
    margin: 0px auto;
    margin-bottom: 120px; }
  .youtube .vidList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 100px; }
    .youtube .vidList article {
      width: 27%;
      margin: 0 auto;
      height: 220px;
      margin-bottom: 40px;
      position: relative; }
      .youtube .vidList article .pic {
        display: block;
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: relative; }
        .youtube .vidList article .pic::after {
          content: "VIEW";
          font: 14px/1 'Open Sans';
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.5s;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.7); }
        .youtube .vidList article .pic:hover::after {
          opacity: 1; }
        .youtube .vidList article .pic > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 1s; }
      .youtube .vidList article .con {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 auto; }
        .youtube .vidList article .con h2 {
          font: 600 16px/1 "Open Sans";
          color: #444;
          margin-bottom: 10px; }
        .youtube .vidList article .con p {
          margin-bottom: 15px;
          font: 14px/1.4 "Open Sans";
          color: #666; }
        .youtube .vidList article .con span {
          font: bold 16px/1 "Open Sans";
          color: orange;
          margin-bottom: 20px; }

.vidPop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5; }
  .vidPop .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center; }
  .vidPop > span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: orange;
    cursor: pointer; }

.location .sub_visual {
  background: url(../img/locationImg5.jpg) no-repeat center/cover;
  position: relative; }
.location .inner #map {
  width: 100%;
  height: 400px;
  background: #000; }
.location .inner .traffic li a {
  font: 400 16px/1 "Open Sans";
  color: #444; }
.location .inner .branch li a {
  font: 400 16px/1 "Open Sans";
  color: #444; }

body {
  widtH: 100%;
  overflow-x: hidden; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header .util_wrap {
    width: 100%;
    height: 30px;
    background: #f5f5f5; }
    #header .util_wrap .util_main {
      width: 1180px;
      margin: 0px auto;
      position: relative; }
      #header .util_wrap .util_main .util {
        position: absolute;
        right: 26px; }
        #header .util_wrap .util_main .util::after {
          content: "";
          display: block;
          clear: both; }
        #header .util_wrap .util_main .util li {
          float: left; }
          #header .util_wrap .util_main .util li a {
            display: block;
            font: 400 12px/1 'Open Sans';
            color: #666;
            padding: 0px 10px;
            border-right: 1px solid #aaa;
            margin-top: 7px; }
          #header .util_wrap .util_main .util li:nth-child(2) a {
            color: #999; }
          #header .util_wrap .util_main .util li:last-child a {
            border-right: none; }
        #header .util_wrap .util_main .util::after {
          content: '';
          display: block;
          clear: both; }
  #header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 0;
      bottom: 19px;
      letter-spacing: 3px; }
      #header .inner > h1 a {
        font: 800 24px/1 'Nanum Myeongjo';
        color: #444; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 14px;
      right: 0; }
      #header .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .menuWeb #gnb > li {
        float: left; }
        #header .inner .menuWeb #gnb > li > a {
          display: block;
          padding: 0px 40px;
          height: 42px;
          font: 600 14px/42px 'Nanum Myeongjo';
          color: #777;
          transition: all 0.5s; }
          #header .inner .menuWeb #gnb > li > a:hover {
            color: #000; }
        #header .inner .menuWeb #gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 56px;
          right: 0px;
          display: none; }
          #header .inner .menuWeb #gnb > li .sub .left {
            width: 65%;
            height: 100%;
            background: #f3f3f3;
            float: left;
            padding: 64px;
            box-sizing: border-box; }
            #header .inner .menuWeb #gnb > li .sub .left .sub_con1, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              padding: 80px 64px; }
              #header .inner .menuWeb #gnb > li .sub .left .sub_con1 h3, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 h3 {
                font: bold 16px/1 "Open Sans";
                color: #555;
                margin-bottom: 20px; }
              #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul {
                float: left;
                padding-right: 34px;
                box-sizing: border-box; }
                #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a {
                  font: 15px/2.4 "Open Sans";
                  color: #777;
                  transition: 0.5s; }
                  #header .inner .menuWeb #gnb > li .sub .left .sub_con1 > ul li a:hover, #header .inner .menuWeb #gnb > li .sub .left .sub_con3 > ul li a:hover {
                    color: #ca6262; }
            #header .inner .menuWeb #gnb > li .sub .left .sub_con3 {
              left: 480px; }
          #header .inner .menuWeb #gnb > li .sub .right {
            width: 35%;
            height: 100%;
            background: #f3f3f3;
            float: right;
            position: absolute;
            top: 0;
            right: 0; }
            #header .inner .menuWeb #gnb > li .sub .right .box {
              width: 260px;
              height: 220px;
              margin: 0px auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
              #header .inner .menuWeb #gnb > li .sub .right .box img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
              #header .inner .menuWeb #gnb > li .sub .right .box .boxbtn {
                height: 220px;
                background: #444;
                padding: 16px;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 85%;
                transform: translateY(-50%); }
                #header .inner .menuWeb #gnb > li .sub .right .box .boxbtn span i {
                  font-size: 16px;
                  color: #fff;
                  margin-top: 165px;
                  cursor: pointer; }
          #header .inner .menuWeb #gnb > li .sub::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 100%;
            background: #f3f3f3; }
          #header .inner .menuWeb #gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 100%;
            background: #f3f3f3; }
    #header .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .menuMo {
      position: fixed;
      top: 0;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box;
      z-index: 10; }
      #header .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 'Open Sansl';
          color: #fff;
          text-align: center; }
        #header .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 'Open Sans';
        color: #888;
        text-align: center; }
      #header .inner .menuMo.on {
        left: 0; }

/* visual ------------------------------ */
#visual {
  width: 100%;
  height: calc(100vh - 121px);
  background: #ddd;
  position: relative;
  overflow: hidden; }

/* footer --------------------------- */
#footer {
  width: 100%;
  padding: 100px 0;
  border-top: 1px solid #ddd; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner h1 {
      font: 800 24px/1 'Nanum Myeongjo';
      color: #444;
      float: left;
      letter-spacing: 3px; }
    #footer .inner ul {
      float: right; }
      #footer .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer .inner ul li a {
          font: 700 14px/1 'Nanum Myeongjo';
          color: #555; }
    #footer .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 'Open Sans';
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer .inner p {
      font: 12px/1 'Open Sans';
      color: #777;
      width: 100%;
      float: left; }
    #footer .inner::after {
      content: '';
      display: block;
      clear: both; }

/* tablet  ------------------------------------------ */
@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px; }
    #header .inner > h1 {
      left: 20px; }
    #header .inner .menuWeb {
      display: none; }
    #header .inner .btnCall {
      display: block; }

  /* footer --------------------------- */
  #footer {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer .inner {
      width: 100%; } }
/* mobile ----------------------------------------------------------- */
@media screen and (max-width: 539px) {
  /* footer --------------------------- */
  #footer .inner h1 {
    margin-bottom: 20px; }
  #footer .inner ul {
    width: 100%; }
    #footer .inner ul li {
      margin-left: 0px;
      margin: 5px; } }

/*# sourceMappingURL=style.css.map */
