@charset 'utf-8'; 
 
.community {
    .sub_visual {
        background: url(../img/communityImg5.jpg) no-repeat center/cover;
        position: relative;
    }

    .txt_subcont {
        p {
            margin-bottom: 70px !important;
        }
    }

    .faq {
        margin-bottom: 100px;

        &::after { content: ""; display: block; clear: both; }

        .faq_left {
            width: 25%;
            height: 440px;
            float: left;
            background: #ccc;
            margin-right: 36px;

            .picImg {
                width: 100%;
                height: 100%;
                background: url("../img/communityImg2.jpg") no-repeat center/cover;
                filter: saturate(10%);
            }
        }

        .faq_right {
            width: 71.9%;
            float: left;

            dt {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                font: 600 20px/1 'Nanum Myeongjo';
                color: #777;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                transition: 0.5s;
                position: relative;

                span {
                    position: absolute;
                    right: 0;
                    font: 25px/1 "Open Sans";
                    color: #666;
                }
            }

            dd {
                width: 100%;
                padding: 20px;
                padding-left: 120px;
                box-sizing: border-box;
                font: 14px/1.5 'Nanum Myeongjo';
                color: #888;
                display: none;
        
                &:nth-of-type(1) {
                    display: block;
                }
            }
        }
    }

    table {
        width: 100%;
        // border-bottom: 1px solid #888;

        th {
            border-bottom: 1px solid #888;
            padding: 20px 30px;
            color: #666;
            font: 800 16px/1 "Nanum Myeongjo";

            &:nth-of-type(1) { width: 10%; }
            &:nth-of-type(2) { width: 60%; }
            &:nth-of-type(3) { width: 15%; }
            &:nth-of-type(4) { width: 15%; }
        }

        td {
            padding: 30px;
            border-bottom: 1px solid #ccc;
            background: #f8f8f8;
            text-align: center;
            font: 400 15px/1 "Open Sans";
            color: #555;

            &:nth-of-type(2) { text-align: left; }

            a:link, a:visited {
                color: #555;
            }
        }

        
    }

    .pagination {
        width: 100%;
        text-align: center;
        margin-top: 60px;

        .numbers {
            display: inline-block;
            font-size: 0;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                font: 400 14px/40px "Open Sans";
                color: #666;
                text-align: center;
                margin: 0 3px;
                transition: 0.4s;

                &:hover {
                    font-weight: bold;
                    color:#111;
                    text-decoration: underline;
                }
            }
        }

        .prev {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            font: 15px/40px "Open Sans";
            color: #aaa;
            text-align: center;
            box-sizing: border-box;
            vertical-align: bottom;
            transition: 0.5s;

            &:hover { background: #333; color: #fff; border: 0px;}
        }

        .next {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            font: 15px/40px "Open Sans";
            color: #aaa;
            text-align: center;
            box-sizing: border-box;
            vertical-align: bottom;
            transition: 0.5s;

            &:hover { background: #333; color: #fff; border: 0px;}
        }

    }
}

/* tablet ----------------------------------------- */
@media screen and (max-width:$tablet){
    .community {
        .faq {
            margin-bottom: 100px;
    
            .faq_left {
                width: 100%;
                height: 250px;
                float: none;
                margin-right: 0px;
            }
    
            .faq_right {
                width: 100%;
                float: none;
            }
        }
    }
}

/* mobile ----------------------------------------- */
@media screen and (max-width:$mobile){
    .community{
    
        .inner{
            h1{ font-size:45px; }
           
            .faq {
                .faq_left {
                    width: 90%;
                    margin: 0 auto;
                }

                .faq_right {
                    width: 90%;
                    margin: 0 auto;

                    dt {
                        font: 600 18px/1 'Nanum Myeongjo';
                    }
                    
                    dd {
                        font: 12px/1.4 'Nanum Myeongjo';
                    }
                }
            }
        }

        table {
            width: 90%;
            margin: 0 auto;
            
            th {
                &:nth-of-type(1) { width: 10%; }
                &:nth-of-type(2) { width: 90%; }
                &:nth-of-type(3) { display: none; }
                &:nth-of-type(4) { display: none; }
            }
    
            td {
                &:nth-of-type(3) { display: none; }
                &:nth-of-type(4) { display: none; }
            }
        }
    
        .pagination {
            .numbers {
                a {
                    &:nth-of-type(4) ,&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9), &:nth-of-type(10) { display: none; }
                }
            }
        }
    }
}