@charset 'utf-8'; 

.department {
    .sub_visual {
        background: url(../img/departmentImg2.jpg) no-repeat center/cover;
        position: relative;
    }

    .inner {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }
}

/* tablet ------------------------------ */
@media screen and (max-width:$tablet){
    
}

/* mobile ---------------------------------- */
@media screen and (max-width:$mobile){
    
}