.search {
    margin-bottom: 100px;
    text-align: left;

    input[type=text] {
        width: 30%;
        height: 40px;
        border: none;
        background: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
    }

    button {
        width: 14%;
        height: 40px;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}

.gallery {
    .sub_visual{
        background: url(../img/galleryImg7.jpg) no-repeat center/cover;
        position: relative;
    }

    #gallery {
        width: 100%;
    
        &::after {content: ""; display: block; clear: both;}
        
        article {
            width: 25%;
            float: left;
            padding: 0px 16px;
            box-sizing: border-box;
            margin-bottom: 50px;
    
            &:nth-last-child(1), &:nth-last-child(5),
            &:nth-last-child(9), &:nth-last-child(13), &:nth-last-child(17) {
                border-right: none;
            }
    
            .inner {
                width: 100%;
                min-height: 300px;
                
                .pic {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 1s;
                        filter: brightness(0.9) saturate(80%);

                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }

                h2 {
                    font: 16px/1 "Open Sans";
                    color: #666;
                    padding: 20px 0px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #bbb;
                }
    
                p {
                    font: 12px/1 "Open Sans";
                    color: #aaa;
                    padding: 10px 0px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #aaa;
                }
            }
        }
    }
}

#imgPop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 5;
    background:#fff;
    box-sizing: border-box;
    padding: 10vw;

    .pic {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        span {
            font: bold 16px/1 "Open Sans";
            color: #666;
            position: absolute;
            top: 4vw;
            right: 4vw;
            cursor: pointer;
        }
    }
}

/* tablet ----------------------------------------- */
@media screen and (max-width:$tablet){
    .search {
        input[type=text] {
            width: 30%;
            height: 40px;
            border: none;
            background: #f3f3f3;
            padding: 20px;
            box-sizing: border-box;
        }
    
        button {
            width: 14%;
            height: 40px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }
    
    .gallery {
        #gallery {
            width: 100%;
        
            article {
                width: 50%;
            }
        }
    }

}

/* mobile ----------------------------------------- */
@media screen and (max-width:$mobile){
    .content {
        .inner {
            padding: 0px;

            h2, p { padding: 0 30px; }

            .search {
                padding: 0 30px;

                input[type=text] {
                    width: 50%;
                }
            
                button {
                    width: 20%;
                }
            }
        
            .gallery {
                #gallery {
                    width: 100%;
                
                    article {
                        width: 100%;
                        padding: 0px !important;
                    }
                }
            }
        }
    }
}