.search {
    margin-bottom: 80px;
    text-align: center;

    input[type=text] {
        width: 30%;
        height: 40px;
        border: none;
        background: #f3f3f3;
        padding: 20px;
        box-sizing: border-box;
    }

    button {
        width: 14%;
        height: 40px;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}


.gallery {
    .sub_visual{
        background: url(../img/galleryImg2.jpg) no-repeat center/cover;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.2);
        }

    }

    #gallery {
        width: 100%;
    
        &::after {content: ""; display: block; clear: both;}
        
        article {
            width: 25%;
            float: left;
            padding: 0px 16px;
            box-sizing: border-box;
            border-right: 1px solid #ddd;
            margin-bottom: 50px;
    
            &:nth-last-child(1), &:nth-last-child(5),
            &:nth-last-child(9), &:nth-last-child(13), &:nth-last-child(17) {
                border-right: none;
            }
    
            .inner {
                width: 100%;
                min-height: 300px;
                
                .pic {
                    overflow: hidden;
                    
                    img {
                        transition: 1s;
    
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
    
                h2 {
                    font: 23px/1 "arial";
                    color: #666;
                    padding: 20px 0px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #bbb;
                }
    
                p {
                    font: 12px/1 "arial";
                    color: #aaa;
                    padding: 10px 0px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #aaa;
                }
    
                .pic {
                    width: 100%;
                    height: 200px;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    
    
    
}

#imgPop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 5;
    background:#fff;
    box-sizing: border-box;
    padding: 10vw;

    .pic {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        span {
            font: bold 16px/1 "arial";
            color: #666;
            position: absolute;
            top: 4vw;
            right: 4vw;
            cursor: pointer;
        }
    }
}