.location {
    .sub_visual {
        background: url(../img/locationImg5.jpg) no-repeat center/cover;
        position: relative;
    }

    .inner {
        position: relative;

        #map {
            width: 100%;
            height: 480px;
            filter: saturate(65%);

            .traffic {
                position: absolute;
                bottom: 34px;
                left: 20px;
                z-index: 2;
    
                &::after { content: ""; display: block; clear: both; }
    
                li {
                    background: #fff;
                    padding: 4px 10px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-right: 6px;
                    transition: 0.5s;
                    border: 1px solid #aaa;
    
                    a { 
                        font: 400 12px/20px "Open Sans";
                        color: #444;
                    }
    
                    &.on {
                        display: block; background: #333; border: 0px;

                        a {
                            color: #eee;
                        }
                    }
                }
            }
        }

        .branch {
            width: 100%;
            margin: 0px auto;
            margin-bottom: 20px;
            
            &::before {
                border-bottom: 1px solid #ccc;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
                border-top: 1px solid #ccc;
            }

            li {
                width: 33.3%;
                float: left;
                padding: 18px;
                box-sizing: border-box;
                font: 800 16px/1 "Open Sans";
                text-align: center;
                transition: 0.5s;

                &:last-child { margin-right: 0px; }

                a {
                    font: 400 16px/1 "Open Sans";
                    color: #444;
                }

                &.on {
                    a {
                        font-weight: bold;
                        color: #000;
                    }
                }
            }
        }

        .mapcont {
            width: 100%;
            margin-top: 100px;

            article {
                &::after { content: ""; display: block; clear: both; }

                .mapcont_left {
                    width: 25%;
                    float: left;
                    margin: 0px auto;
                    text-align: center;
                    padding: 20px;
                    box-sizing: border-box;

                    >div {
                        span {
                            display: inline-block;
                            width: 100px;
                            height: 100px;
                            border-radius: 50px;
                            background: #222;
                            color: #fff;

                            i {
                                font-size: 40px;
                                line-height: 100px;
                            }
                        }

                        p {
                            font: 400 14px/4 "Open Sans";
                            color: #666;
                        }
                    }
                }

                .mapcont_right {
                    float: left;
                    width: 75%;
                    border-top: 1px solid #eee;
                    padding: 40px 20px;
                    padding-left: 40px;
                    box-sizing: border-box;

                    h3 {
                        font: 800 18px/1 "Open Sans";
                        color: #333;
                        margin-bottom: 10px;
                    }

                    p {
                        font: 400 14px/1 "Open Sans";
                        color: #666;
                        margin-bottom: 80px;
                    }

                    span {
                        font: 400 14px/1 "Open Sans";
                        color: #444;
                    }
                }
            }
            
        }
    }
}


/* mobile -------------------------------------- */
@media screen and (max-width:$mobile){
    .location {
        .inner {
            #map {
                width: 90%;
                margin: 0 auto;
            }
    
            .branch {
                width: 90%;
            }
    
            .mapcont {
                width: 90%;
                margin: 0 auto;
    
                article {
                    .mapcont_left {
                        display: none;
                    }
    
                    .mapcont_right {
                        float: none;
                        width: 100%;
                        padding-left: 20px;

                        p {
                            font: 400 13px/1 "Open Sans";
                            padding: 0px;
                        }
                    }
                }
                
            }
        }
    }
}