@charset 'utf-8'; 

*{ margin:0px; padding:0px;}
ul,ol,li{ list-style:none; }
a{ text-decoration:none; }
fieldset{ border:none; }
table, th, td { border-collapse: collapse;}
.hidden{
    position:absolute; top:-9999px; opacity:0; 
}
input, a, img, span, label, select {
    vertical-align: middle;
}