@charset 'utf-8'; 

#header_sub{
    width:100%; 
    border-bottom:1px solid #ddd; 
    position: relative;
    z-index: 2;

    .inner{
        width:1180px; 
        height:100px; 
        margin:0px auto; 
        position:relative;

        >h1{
            position:absolute; 
            left:0; 
            bottom:24px; 
            letter-spacing: 2px;
           
            a{
                font: 800 24px/1 'Nanum Myeongjo'; 
                color:#444;
                border: 1px solid #aaa;
                padding: 8px 18px;
                box-sizing: border-box;
                text-align: center;
            }
        }

        .menuWeb{
            width: 76%;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;

            #gnb{
                position:absolute;
                width: 80%;
                bottom:0; 
                left: 0;
                
                &::after{
                    content: ''; 
                    display:block; 
                    clear:both; 
                }

                >li{
                    float:left; 

                    >a{
                        display:block; 
                        padding:14px 20px; 
                        height: 42px;
                        font: 800 14px/42px 'Nanum Myeongjo'; 
                        color:#555; 
                        transition:all 0.5s;
                        letter-spacing: 1px;

                        &:hover{
                            color:#000;
                        } 
                    }
                    
                    .sub {
                        width: 1180px;
                        height: 280px;
                        padding: 30px 0px;
                        box-sizing: border-box;
                        background-color: #fff;
                        position: absolute;
                        top: 70px;
                        right: -25%;
                        display: none;

                        .subtxt1, .subtxt2 {
                            position: relative;
                            float: left;
                            width: 20%;
                            height: 100%;

                            h2 {
                                font: bold 16px/1 "Open Sans";
                                color: #555;
                                border-bottom: 1px solid #888;
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                width: 70%;
                            }

                            >ul {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                li {
                                    float: left;
                                    padding-bottom: 15px;

                                    a {
                                        font: 16px/2 "Nanum Myeongjo";
                                        color: #666;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #ca6262;     
                                        }
                                    }
                                }
                            }
                        }

                        .subtxt1 {
                            margin-left: 50px;
                        }

                        .subpic {
                            float: right;
                            width: 22%;
                            height: 100%;
                            margin-left: 40px;

                            &:nth-of-type(1) {
                                // width: 50%;
                                margin-left: 0px;
                            }
                            
                            h2 {
                                font: 600 16px/1 "Open Sans";
                                color: #777;
                                margin-bottom: 10px;
                            }

                            img {
                                width: 100%;
                                height: 85%;
                                object-fit: cover;
                            }
                        }

                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            background: #fff;
                        }

                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            right: 100%;
                            background: #fff;
                        }
                    }
                    
                    &:nth-of-type(1) .sub .subpic {
                        float: left;
                        width: 23%;
                    }

                    &:nth-of-type(1) .sub .subtxt1, &:nth-of-type(1) .sub .subtxt2 {
                        width: 21%;
                    }

                    &:nth-of-type(1) .sub .subtxt2 {
                        margin-left: 50px;
                    }

                    &:nth-of-type(2) .sub .subtxt1 {
                        margin-left: 0px;
                    }
                    
                    &:nth-of-type(2) .sub .subpic {
                        width: 32%;
                    }

                    &:nth-of-type(3) .sub .subpic {
                        float: left;
                        width: 24%;
                    }

                    &:nth-of-type(3) .sub .subtxt1 {
                        margin-left: 100px;
                    }

                    &:nth-of-type(4) .sub .subpic {
                        float: left;
                        width: 55%;
                    }

                    &:nth-of-type(5) .sub .subpic {
                        width: 24%;
                    }

                    &:nth-of-type(5) .sub .subtxt1 {
                        margin-left: 0px;
                    }
                }
            }

            .util{
                position: absolute;
                bottom: 30px;
                right: 0px;
    
                &::after { content: ""; display: block; clear: both; }
    
                li{
                    float:left;
    
                    a{
                        display:block; 
                        font: 400 12px/1 'Open Sans'; 
                        color:#666; 
                        padding: 0px 20px;
                        border-right:1px solid #aaa; 
                    } 
    
                    &:nth-child(2) a { color: #999; }
                    &:last-child a{
                        border-right: none;
                        padding-right: 0;
                    }
                }
    
                &::after{
                    content:''; display:block; clear:both; 
                }
            }
        }

        .btnCall{
            position:absolute; 
            right:30px; 
            top:50%; 
            transform:translateY(-50%);             
            display:none; 
            width:20px; height:20px; 

            &::before{
                content:''; 
                display:block; 
                width:100%;
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000;
                position:absolute; 
                bottom:0; 
                left:0; 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                text-indent:-9999px; 
                transition:0.5s; 
            }

            &.on{
                &::before{
                    top:50%; margin-top:-1px; 
                    transform:rotate(45deg); 
                     
                }
                &::after{
                    bottom:50%; margin-bottom:-1px; 
                    transform:rotate(-45deg); 
                }
                span{
                    transform:translateX(100%); opacity:0; 
                }
            }
        }

        .menuMo{
            position:fixed; 
            top:0; 
            left:-270px; 
            width:270px; 
            height:100vh; 
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            box-sizing:border-box; 
            z-index:10; 
            h1{
               border-bottom:1px solid #666; 
               padding-bottom:30px;  
                a{
                    display:block; 
                    font:bold 24px/1 'Open Sansl'; 
                    color:#fff; 
                    text-align:center; 
                }
                span{
                    font-size:12px; color:#aaa; 
                }
            }

            #gnbMo{
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:20px 0; 
                        border-bottom:1px solid #444; 
                        font:bold 14px/1 'Open Sans'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }

            &.on{
                left:0; 
            }
        } //menuMo end 

    }
}

.content{
    width:100%; padding:0px 0px 150px; 

    .sub_visual{
       width:100%; height: 340px; 
       background:#ddd; 
       margin-bottom:100px; 
       position: relative;

       &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(71, 71, 71, 0.2);
        }

       >h1 {
        font: 600 30px/1 "Nanum Myeongjo";
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        letter-spacing: 2px;

        &::after {
            content: "";
            display: inline-block;
            width: 170px;
            height: 1px;
            background-color: currentColor;
            opacity: 0.4;
            position: absolute;
            top: 50%;
            left: 150%;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 170px;
            height: 1px;
            background-color: currentColor;
            opacity: 0.4;
            position: absolute;
            top: 50%;
            left: -150%;
        }

        /*
        span{
            font: 600 16px/1 'Nanum Myeongjo'; 
            color:#eee; 

            &::before{
                content:'/';
                margin-right:20px; 
                margin-left:10px; 
            }
        }
        */
        }
    }

    .inner{
        width:1180px; 
        margin:0px auto; 
        min-height:500px; 

        .subtit {
            font: 800 28px/1.2 "Nanum Myeongjo";
            color: #525252;
            margin-bottom: 45px;
        }

        .txt_subcont {
            >p {
                font: 13px/1.4 "Open Sans";
                color: #888;
                margin-bottom: 55px;
            }
        }
    
        >p {
            font: 14px/2 "Nanum Myeongjo";
            color: #c9ab81;
        }
    }
}

/* footer --------------------------- */
#footer_sub{
    width: 100%; 
    padding: 55px 0 150px; 
    border-top: 1px solid #ddd;

    .inner{
        width:1180px; 
        margin:0 auto;

        ul{    
            width: 100%;
            text-align: center;

            li{
                display: inline-block;
                margin: 0 32px;
                font-size: 0.75em;
                vertical-align: middle;

                a{
                    font: 400 14px/1 'Open Sans';
                    color:#666; 

                    i {
                        font-size: 16px;
                        margin-right: 10px;
                        color: #444;
                    }
                }
            }
        }        

        address {
            font: 14px/2 'Open Sans'; color:#777; 
            width:100%;
            text-align: center;
            margin-top: 40px;
        }

        p{
            font: 14px/2 'Open Sans'; color:#777; 
            width:100%; 
            text-align: center;
        }
    }
}

/* tablet -------------------------------------- */
@media screen and (max-width:$tablet){
    #header_sub{         
        .inner{
            width:100%; 
            height:100px; 
                
            >h1{left:20px; }    
            .menuWeb{ display:none;  }    
            .btnCall{ display:block; }     
        }
    }

    .content{
        padding:0px 0px 100px; 

        .sub_visual{
            height:200px; 
        }
        .inner{
            width:100%;  padding:0 30px; box-sizing:border-box; 
        }
    }


    /* footer --------------------------- */
    #footer_sub{        
        padding: 55px 0; 
    
        .inner{
            width: 100%; 
    
            ul{    
                li{
                    margin: 0 20px;

                    a{
                        font-size: 0;
    
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }        
        }
    }
}


/* mobile -------------------------------------- */
@media screen and (max-width:$mobile){
    .content{
        padding:0px 0px 80px; 

        .sub_visual{
            height:150px; 
        }

        .inner{
            h1{
                
                span{
                    display:block; margin-top:10px; 
                }
            }
        }
    }

     /* footer --------------------------- */
     #footer_sub{        
          
        .inner{
            ul{    
                li{
                    margin: 0 5px;
                }
            }        
        }
    }
}