.vidList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    article {
        width: 48%;
        height: 400px;
        border: 1px solid #333;
        margin-bottom: 40px;

        .pic {
            display: block;
            width: 100%;
            height: 60%;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .con {
            width: 100%;
            height: 40%;
            box-sizing: border-box;
            padding: 20px;

            h2 {
                font: bold 20px/1 "arial";
                color: #444;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 15px;
                font: 14px/1.4 "arial";
                color: #666;
            }

            span {
                font: bold 16px/1 "arial";
                color: orange;
                margin-bottom: 20px;
            }
        }
    }
}

.vidPop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;

    .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    >span {
        position: absolute;
        top: 20px;
        right: 20px;
        color: orange;
        cursor: pointer;
    }
}