@charset 'utf-8'; 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

$tablet:1179px; 
$mobile:539px; 

@import 'reset.scss';
@import 'sub_layout.scss'; 
@import 'community.scss'; 
@import 'department.scss'; 
@import 'join.scss';
@import 'gallery.scss';
@import 'youtube.scss';
@import 'location.scss';


@mixin title($fontSize:24px, $fontFamily:'arial',$color:#555,$align:center, $mb:50px){
    font:bold $fontSize/1 $fontFamily; 
    color:$color;
    text-align:$align; 
    margin-bottom:$mb; 
}

body { widtH: 100%; overflow-x: hidden; }

#header{
    width:100%; 
    border-bottom:1px solid #ddd; 
    position: relative;
    z-index: 2;

    .util_wrap {
        width: 100%;
        height: 30px;
        background: #f5f5f5;

        .util_main {
            width: 1180px;
            margin: 0px auto;
            position: relative;

            .util{
                position: absolute;
                right: 26px;

                &::after { content: ""; display: block; clear: both; }

                li{
                    float:left;

                    a{
                        display:block; 
                        font: 400 12px/1 'Open Sans'; 
                        color:#666; 
                        padding: 0px 10px;
                        border-right:1px solid #aaa; 
                        margin-top: 7px;
                    } 

                    &:nth-child(2) a { color: #999; }
                    &:last-child a{
                        border-right: none;
                    }
                }

                &::after{
                    content:''; display:block; clear:both; 
                }
            }
        }
    }

    .inner{
        width:1180px; 
        height:120px; 
        margin:0px auto; 
        position:relative; 

        >h1{
            position:absolute; 
            left:0; 
            bottom:19px; 
            letter-spacing: 3px;

            a{
                font: 800 24px/1 'Nanum Myeongjo'; 
                color:#444; 
            }
        }

        .menuWeb{
            #gnb{
                position:absolute;
                bottom:14px; 
                right:0; 
                
                &::after{
                    content:''; 
                    display:block; 
                    clear:both; 
                }
                >li{
                    float:left; 

                    >a{
                        display:block; 
                        padding:0px 40px; 
                        height: 42px;
                        font: 600 14px/42px 'Nanum Myeongjo'; 
                        color:#777; 
                        transition:all 0.5s;

                        &:hover{
                            color:#ca6262;
                        } 
                    }
                    
                    .sub {
                        width: 1180px; height: 300px; position: absolute;
                        top: 56px; right: 0px;
                        display: none;

                        .left {
                            width: 65%; height: 100%;
                            background: #f3f3f3;
                            float: left;
                            padding: 64px;
                            box-sizing: border-box;
                            
                            .sub_con1, .sub_con3{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding: 80px 64px;

                                h3 {
                                    font: bold 16px/1 "Open Sans";
                                    color: #555;
                                    margin-bottom: 20px;
                                }
    
                                >ul {
                                    float: left;
                                    padding-right: 34px;
                                    box-sizing: border-box;

                                    li {
                                        a {
                                            font: 15px/2.4 "Open Sans";
                                            color: #777;
                                            transition: 0.5s;
    
                                            &:hover {
                                                color: #ca6262;     
                                            }
                                        }
                                    }
                                }
                            }

                            .sub_con3 { left: 480px; }
                        }

                        .right {
                            width: 35%; height: 100%;
                            background: #f3f3f3; 
                            float: right;
                            position: absolute;
                            top: 0;
                            right: 0;

                            .box {
                                width: 260px;
                                height: 220px;
                                margin: 0px auto;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                .boxbtn {
                                    height: 220px;
                                    background: #cfb5b5;
                                    padding: 16px;
                                    box-sizing: border-box;
                                    position: absolute;
                                    top: 50%;
                                    left: 85%;
                                    transform: translateY(-50%);

                                    span {
                                        i {
                                            font-size: 16px;
                                            color: #fff;
                                            margin-top: 165px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }

                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            background: #f3f3f3;
                        }

                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            right: 100%;
                            background: #f3f3f3;
                        }
                    }
                }
            }
        }

        .btnCall{
            position:absolute; 
            right:30px; 
            top:50%; 
            transform:translateY(-50%);             
            display:none; 
            width:20px; height:20px; 

            &::before{
                content:''; 
                display:block; 
                width:100%;
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000;
                position:absolute; 
                bottom:0; 
                left:0; 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                text-indent:-9999px; 
                transition:0.5s; 
            }

            &.on{
                &::before{
                    top:50%; margin-top:-1px; 
                    transform:rotate(45deg); 
                     
                }
                &::after{
                    bottom:50%; margin-bottom:-1px; 
                    transform:rotate(-45deg); 
                }
                span{
                    transform:translateX(100%); opacity:0; 
                }
            }
        }

        .menuMo{
            position:fixed; 
            top:0; 
            left:-270px; 
            width:270px; 
            height:100vh; 
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            box-sizing:border-box; 
            z-index:10; 
            h1{
               border-bottom:1px solid #666; 
               padding-bottom:30px;  
                a{
                    display:block; 
                    font:bold 24px/1 'Open Sansl'; 
                    color:#fff; 
                    text-align:center; 
                }
                span{
                    font-size:12px; color:#aaa; 
                }
            }

            #gnbMo{
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:20px 0; 
                        border-bottom:1px solid #444; 
                        font:bold 14px/1 'Open Sans'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }

            &.on{
                left:0; 
            }
        } //menuMo end 

    }
}

/* visual ------------------------------ */
#visual{
    width:100%; 
    height:calc(100vh - 121px); 
    background:#fff; 
    position:relative; 
    overflow:hidden;         
}


/* footer --------------------------- */
#footer{
    width:100%; 
    padding:100px 0; 
    background:#ebdddd;  

    .inner{
        width:1180px; 
        margin:0 auto; 

        h1{
            font: 800 24px/1 'Nanum Myeongjo';
            color:#444;
            float:left; 
            letter-spacing: 3px;
        }
        ul{
            float:right; 

            li{
                float:left; margin-left:20px; 
                a{
                    font: 700 14px/1 'Nanum Myeongjo'; color:#555; 
                }
            }
        }        

        address{
            width:100%; float:left; 
            font: 14px/1.3 'Open Sans'; color:#777; 
            margin-bottom:20px; margin-top:20px; 
        }
        p{
            font:12px/1 'Open Sans'; color:#777; 
            width:100%; 
            float:left; 
        }
        &::after{
            content:''; display:block; clear:both; 
        }
    }
}

/* tablet  ------------------------------------------ */
@media screen and (max-width:$tablet){
    #header{         
        .inner{
            width:100%; 
            height:100px; 
                
            >h1{left:20px; }    
            .menuWeb{ display:none;  }    
            .btnCall{ display:block; }     
        }
    }
    
 
    
    /* footer --------------------------- */
    #footer{        
        padding:80px 30px; box-sizing:border-box;  
          
        .inner{
            width:100%;              
        }
    }
}


/* mobile ----------------------------------------------------------- */
@media screen and (max-width:$mobile){   
    

    
    /* footer --------------------------- */
    #footer{        
          
        .inner{
             h1{
                margin-bottom:20px;  
             }
             ul{
                 width:100%; 
                 li{margin-left:0px; margin:5px; }
             }             
        }
    }
}