@charset 'utf-8'; 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

$tablet:1179px; 
$mobile:539px; 

@import 'reset.scss';
@import 'sub_layout.scss'; 
@import 'community.scss'; 
@import 'department.scss'; 
@import 'join.scss';
@import 'gallery.scss';
@import 'youtube.scss';
@import 'location.scss';


@mixin title($fontSize:24px, $fontFamily:'Open Sans',$color:#555,$align:center, $mb:50px){
    font:bold $fontSize/1 $fontFamily; 
    color:$color;
    text-align:$align; 
    margin-bottom:$mb; 
}

body { widtH: 100%; overflow-x: hidden; }

#header{
    width:100%; 
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #ddd;

    /*
    .util_wrap {
        width: 100%;
        height: 30px;
        background: #f5f5f5;

        .util_main {
            width: 1180px;
            margin: 0px auto;
            position: relative;

            .util{
                position: absolute;
                right: 26px;

                &::after { content: ""; display: block; clear: both; }

                li{
                    float:left;

                    a{
                        display:block; 
                        font: 400 12px/1 'Open Sans'; 
                        color:#666; 
                        padding: 0px 10px;
                        border-right:1px solid #aaa; 
                        margin-top: 7px;
                    } 

                    &:nth-child(2) a { color: #999; }
                    &:last-child a{
                        border-right: none;
                    }
                }

                &::after{
                    content:''; display:block; clear:both; 
                }
            }
        }
    }*/

    .inner{
        width:1180px; 
        height:100px; 
        margin:0px auto; 
        position:relative;

        >h1{
            position:absolute; 
            left:0; 
            bottom:24px; 
            letter-spacing: 2px;
           
            a{
                font: 800 24px/1 'Nanum Myeongjo'; 
                color:#444;
                border: 1px solid #aaa;
                padding: 8px 18px;
                box-sizing: border-box;
                text-align: center;
            }
        }

        .menuWeb{
            width: 78%;
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;

            #gnb{
                position:absolute;
                width: 80%;
                bottom:0; 
                left: 0;
                
                &::after{
                    content: ''; 
                    display:block; 
                    clear:both; 
                }

                >li{
                    float:left; 

                    >a{
                        display:block; 
                        padding:14px 20px; 
                        height: 42px;
                        font: 800 14px/42px 'Nanum Myeongjo'; 
                        color:#555; 
                        transition:all 0.5s;

                        &:hover{
                            color:#000;
                        } 
                    }
                    
                    .sub {
                        width: 1180px;
                        height: 280px;
                        padding: 30px 0px;
                        box-sizing: border-box;
                        background-color: #fff;
                        position: absolute;
                        top: 70px;
                        right: -25%;
                        display: none;

                        .subtxt1, .subtxt2 {
                            position: relative;
                            float: left;
                            width: 20%;
                            height: 100%;

                            h2 {
                                font: bold 16px/1 "Open Sans";
                                color: #555;
                                border-bottom: 1px solid #888;
                                margin-bottom: 10px;
                                padding-bottom: 10px;
                                width: 70%;
                            }

                            >ul {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                li {
                                    float: left;
                                    padding-bottom: 15px;

                                    a {
                                        font: 16px/2 "Nanum Myeongjo";
                                        color: #666;
                                        transition: 0.5s;

                                        &:hover {
                                            color: #ca6262;     
                                        }
                                    }
                                }
                            }
                        }

                        .subtxt1 {
                            margin-left: 50px;
                        }

                        .subpic {
                            float: right;
                            width: 22%;
                            height: 100%;
                            margin-left: 40px;

                            &:nth-of-type(1) {
                                // width: 50%;
                                margin-left: 0px;
                            }
                            
                            h2 {
                                font: 600 16px/1 "Open Sans";
                                color: #777;
                                margin-bottom: 10px;
                            }

                            img {
                                width: 100%;
                                height: 85%;
                                object-fit: cover;
                            }
                        }

                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            background: #fff;
                        }

                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            right: 100%;
                            background: #fff;
                        }
                    }
                    
                    &:nth-of-type(1) .sub .subpic {
                        float: left;
                        width: 23%;
                    }

                    &:nth-of-type(1) .sub .subtxt1, &:nth-of-type(1) .sub .subtxt2 {
                        width: 21%;
                    }

                    &:nth-of-type(1) .sub .subtxt2 {
                        margin-left: 50px;
                    }

                    &:nth-of-type(2) .sub .subpic {
                        width: 32%;
                    }

                    &:nth-of-type(3) .sub .subpic {
                        float: left;
                        width: 24%;
                    }

                    &:nth-of-type(3) .sub .subtxt1 {
                        margin-left: 100px;
                    }

                    &:nth-of-type(4) .sub .subpic {
                        float: left;
                        width: 55%;
                    }

                    &:nth-of-type(5) .sub .subpic {
                        width: 24%;
                    }
                }
            }

            .util{
                position: absolute;
                bottom: 30px;
                right: 0px;
    
                &::after { content: ""; display: block; clear: both; }
    
                li{
                    float:left;
    
                    a{
                        display:block; 
                        font: 400 12px/1 'Open Sans'; 
                        color:#666; 
                        padding: 0px 20px;
                        border-right:1px solid #aaa; 
                    } 
    
                    &:nth-child(2) a { color: #999; }
                    &:last-child a{
                        border-right: none;
                        padding-right: 0;
                    }
                }
    
                &::after{
                    content:''; display:block; clear:both; 
                }
            }
        }

        .btnCall{
            position:absolute; 
            right:30px; 
            top:50%; 
            transform:translateY(-50%);             
            display:none; 
            width:20px; height:20px; 

            &::before{
                content:''; 
                display:block; 
                width:100%;
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000;
                position:absolute; 
                bottom:0; 
                left:0; 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                text-indent:-9999px; 
                transition:0.5s; 
            }

            &.on{
                &::before{
                    top:50%; margin-top:-1px; 
                    transform:rotate(45deg); 
                     
                }
                &::after{
                    bottom:50%; margin-bottom:-1px; 
                    transform:rotate(-45deg); 
                }
                span{
                    transform:translateX(100%); opacity:0; 
                }
            }
        }

        .menuMo{
            position:fixed; 
            top:0; 
            left:-270px; 
            width:270px; 
            height:100vh; 
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            box-sizing:border-box; 
            z-index:10; 
            h1{
               border-bottom:1px solid #666; 
               padding-bottom:30px;  
                a{
                    display:block; 
                    font:bold 24px/1 'Open Sansl'; 
                    color:#fff; 
                    text-align:center; 
                }
                span{
                    font-size:12px; color:#aaa; 
                }
            }

            #gnbMo{
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:20px 0; 
                        border-bottom:1px solid #444; 
                        font:bold 14px/1 'Open Sans'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }

            &.on{
                left:0; 
            }
        } //menuMo end 

    }
}

/* visual ------------------------------ */
#visual{
    width:100%; 
    height:calc(100vh - 101px);  
    position:relative; 
    overflow:hidden;

    .mainpic {
        width: 83%;
        height: 650px;
        background: #e6e6e6;
        // background: url("../img/mainvisual_img1.jpg") no-repeat center/cover;
        // filter: brightness(1.3) saturate(25%);

        h1 {
            position: absolute;
            top: 12vh;
            left: 19vw;
            font: 800 40px/1.6 "Nanum Myeongjo";
            color: #333;
        }
    }

    .mainCon {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        
        &::after { content: ""; display: block; clear: both; }

        article {
            float: left;
            width: 20%;
            
            h3 {
                display: inline-block;
                font: 14px/1.6 "Open Sans";
                color: #777;
                padding: 50px 74px;
                box-sizing: border-box;
            }
            
            .line {
                display: inline-block;
                width: 1px;
                height: 20px;
                background: #555;
            }

            .Conpic {
                width: 100%;
                height: 240px;
            }

            h2 {
                width: 100%;
                height: 100px;
                background: #fff;
                text-align: center;
                font: 16px/100px "Open Sans";
                color: #333;
            }

            &:nth-child(1) h2 { background: #000; color: #fff; }

            &:nth-of-type(odd) .Conpic { background: #555; }
            &:nth-of-type(even) .Conpic { background: #111; }

            &:nth-child(4) .line { display: none; }
        }
    }

    .mainBtn {
        position: absolute;
        top: 37vh;
        right: 0vw;
        font-size: 0;

        a {
            display: inline-block;
            padding: 55px 90px;
            box-sizing: border-box;
            background: #666;
            font: 800 20px/1 'Nanum Myeongjo';
            color: #fff;

            &:nth-of-type(1) { background: #333; }
        }
    }
}

#galleryV_Tit {
    width: 100%;
    padding: 100px;
    padding-top: 200px;
    box-sizing: border-box;
    background: #fff;

    span {
        display: block;
        font: 800 16px/1 "Nanum Myeongjo";
        color: #c9ab81;
        text-align: center;
        padding-bottom: 10px;
    }

    h2 {
        font: 800 34px/1.4 "Nanum Myeongjo";
        color: #333;
        text-align: center;
        padding-bottom: 38px;
    }

    p {
        font: 800 16px/1.5 "Nanum Myeongjo";
        color: #888;
        text-align: center;
    }

}

#galleryView {
    width: 100%;
    height: 800px;
    position: relative;
    background: #f2f2f2;
    overflow: hidden;

    .swiper-wrapper {
        width:100%; height:100%;

        .swiper-slide{
            width:500px; height:100px; 
            // background:#ddd; 
            position:relative; 
            top:50%; margin-top:-140px; 
            // padding:50px; 
            box-sizing:border-box; 

            .inner {
                .con {
                    position: relative;
                    z-index: 10;
    
                    h2 {
                        font: normal 22px/1 "Nanum Myeongjo";
                        color: #444;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    p {
                        font: normal 13px/1 "Open Sans";
                        color: #888;
                    }
    
                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .swiper-button-prev {
        position: absolute;
        left: auto;
        top: 100px;
        right: 105px;
        color: #555;
        filter: brightness(2);
        transform: scale(0.6);
    }

    /* 좌우버튼 */
    .swiper-button-next {
        position: absolute;
        left: auto;
        top: 100px;
        right: 60px;
        color: #555;
        filter: brightness(2);
        transform: scale(0.6);
    }

    /* 페이징 버튼 */
    .swiper-pagination-fraction {
        bottom: auto;
        top: 90px;
        left: 60px;
        right: auto;
        font-family: 'Nanum Myeongjo';
        color: #aaa;
        font-size: 18px;
        letter-spacing: 1px;
        width: auto;
    }
    
    .swiper-pagination-fraction span:nth-of-type(1) {
        font-size: 32px;
        font-family: 'Nanum Myeongjo';
        color: #555;
    }
}

#blogPosts{
    width: 100%;
    padding: 150px;
    padding-bottom: 270px;
    box-sizing: border-box;

    .inner {
        width: 1180px;
        margin: 0px auto;

        &::after { content: ""; display: block; clear: both; }

        .blogPosts_left {
            float: left;
            width: 70%;
            position: relative;
            
            .blogPostsTxt {
                transform: translateX(40%);

                span {
                    display: block;
                    font: 800 16px/1 "Nanum Myeongjo";
                    color: #c9ab81;
                    padding-bottom: 14px;
                }
    
                h2 {
                    position: absolute;
                    font: 800 34px/1.3 "Nanum Myeongjo";
                    color: #525252;
                    letter-spacing: 2px;
                }
            }

            .blogPostspic-1 {
                width: 40%;
                height: 400px;
                transform: translate(100%, 36%);
                background: url("../img/mainsec02_img7.jpg") no-repeat center/cover;
                filter: brightness(1.2) saturate(55%);
            }

            .blogPostspic-2 {
                position: absolute;
                top: 100px;
                left: 0;
                width: 240px;
                height: 350px;
                background: url("../img/mainsec02_img8.jpg") no-repeat center/cover;
                filter: saturate(55%);
            }

            .blogPostspic-3 {
                position: absolute;
                top: 510px;
                left: 200px;
                width: 180px;
                height: 240px;
                background: url("../img/mainsec02_img10.jpg") no-repeat left/cover;
                filter: saturate(80%);
            }
        }

        .blogPosts_right {
            float: right;
            width: 30%;

        div {
                h2 {
                    font: 800 24px/1.3 "Nanum Myeongjo";
                    color: #666;
                    margin-top: 94px;
                    margin-bottom: 40px;
                    letter-spacing: 4px;
                }
    
                &:nth-of-type(2) h2 { margin-top: 16px; }
    
                p {
                    font: 400 16px/1.5 "Open Sans";
                    color: #aaa;
                    margin-bottom: 30px;
                }
                
                span {
                    display: inline-block;
                    font: 400 22px/1.2 "Nanum Myeongjo";
                    color: #ddd;
                    margin-bottom: 50px;
                    letter-spacing: 1px;
                }

                a {
                    display: block;
                    font: 800 14px/1.5 "Open Sans";
                    color: #aaa; //c9ab81
                    margin-bottom: 80px;

                    &::before {
                        content: "";
                        display: inline-block;
                        // width: 1px;
                        height: 30px;
                        border: 0.5px solid #c9ab81;
                        background: #c9ab81;
                        transform: rotate(90deg);
                    }
                }

                &:last-child a { margin-bottom: 0px; }
            }
        }   
    }

}

#ban01 {
    width: 100%;
    padding: 220px 0px;
    box-sizing: border-box;
    background: url("../img/mainbanImg_01.jpg") no-repeat center/cover;
    background-attachment: fixed;
    filter: brightness(1.3) saturate(65%);
    position: relative;

    .ban01txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            font: 800 26px/1.4 "Nanum Myeongjo";
            color: #fff;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        p {
            font: 400 15px/1.4 "Open Sans";
            color: #aaa;
        }
    }
}

#highlights {
    width: 100%;
    padding: 150px;
    box-sizing: border-box;

    .inner {
        width: 1180px;
        margin: 0px auto;

        &::after { content: ""; display: block; clear: both; }

        .highlights_left {
            float: left;
            width: 38%;

            div {
                span {
                    display: inline-block;
                    font: 800 16px/1 "Nanum Myeongjo";
                    color: #c9ab81;
                    margin-bottom: 28px;
                }

                h2 {
                    font: 800 32px/1.3 "Nanum Myeongjo";
                    color: #525252;
                    letter-spacing: 3px;
                    margin-bottom: 60px;
                }
    
                p {
                    font: 400 15px/1.8 "Open Sans";
                    color: #aaa;
                    margin-bottom: 80px;
                }

                a {
                    display: block;
                    width: 200px;
                    height: 50px;
                    background: #333;
                    color: #c9ab81;
                    text-align: center;
                    font: 800 14px/50px "Nanum Myeongjo";
                    letter-spacing: 2px;
                }
            }
        }

        .highlights_right {
            float: right;
            width: 30%;
            position: relative;
            box-sizing: border-box;

            .pic1 {
                width: 100%; height: 500px;
                background: url("../img/mainsec03_img1.jpg") no-repeat center/cover;
            }

            .pic2 {
                width: 50%; height: 300px; background: darkgoldenrod;
                position: absolute; top: 90px; left: -100px;
                background: url("../img/mainsec03_img2.jpg") no-repeat center/cover;
                filter: saturate(65%);
            }
        }   
    }

}

#news {
    width: 100%;
    padding: 150px;
    box-sizing: border-box;

    .inner {
        width: 1180px;
        margin: 0px auto;

        &::after { content: ""; display: block; clear: both; }

        .news_left {
            float: left;
            width: 25%;
            position: relative;

            h2 {
                font: 800 32px/1.4 "Nanum Myeongjo";
                color: #525252;
                margin-bottom: 30px;
            }

            p {
                font: 400 15px/1.4 "Open Sans";
                color: #888;
                padding-bottom: 60px;
            }

            .newspic {
                width: 250px;
                height: 420px;
                background: url("../img/mainsec04_img1.jpg") no-repeat center/cover;
                filter: brightness(2) saturate(65%);
            }
        }

        .news_right {
            float: right;
            width: 75%;
            padding-left: 40px;
            box-sizing: border-box;
            text-align: center;

            div {
                border-bottom: 1px solid #ccc;
                margin-bottom: 34px;

                &::after { content: ""; display: block; clear: both; }

                h1 {
                    float: left;
                    width: 70%;
                    font: 600 26px/1 'Nanum Myeongjo';
                    color: #646464;
                    text-align: left;

                    span {
                        display: block;
                        font: 800 18px/2.5 'Nanum Myeongjo';
                        color: #c9ab81;
                    }
                }

                p {
                    float: right;
                    width: 30%;
                    font: 14px/1.5 'Open Sans';
                    color: #aaa;
                    margin-bottom: 30px;
                    text-align: left;
                }
            }

            a {
                display: inline-block;
                width: 200px;
                height: 50px;
                background: #333;
                color: #c9ab81;
                text-align: center;
                font: 800 14px/50px "Nanum Myeongjo";
                letter-spacing: 2px;
                margin-top: 34px;
            }
        }   
    }

}

#ourHouse {
    width: 100%;
    padding: 100px;
    box-sizing: border-box;

    .inner {
        width: 1180px;
        margin: 0px auto;
        text-align: center;

        &::after { content: ""; display: block; clear: both; }
        
        span {
            display: block;
            font: 800 16px/1.5 "Nanum Myeongjo";
            color: #c9ab81;
        }

        h2 {
            font: 800 32px/1.6 "Nanum Myeongjo";
            color: #525252;
            padding-bottom: 20px;
        }

        p {
            font: 400 15px/1.4 "Open Sans";
            color: #aaa;
            padding-bottom: 90px;
        }

        article {
            float: left;
            margin: 0px auto;
            width: 33.2%;
        
            &:nth-of-type(2) {
                display: block;
                height: 660px;
                margin: 0 auto;
                background: url("../img/mainsec05_img1.jpg") no-repeat center/cover;
                filter: brightness(1.1) saturate(65%);
            }

            div {
                margin: 0px auto;

                h2 {
                    padding-bottom: 20px;
                    font: 800 22px/1.4 "Nanum Myeongjo";
                    color: #777;
                }

                &:nth-of-type(1) h2 { padding-top: 130px; }
    
                p {
                    padding-bottom: 140px;
                    font: 400 15px/1.4 "Open Sans";
                    color: #aaa;
                }
            }
        }
    }
}

#instagrem {
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
    margin-bottom: 90px;

    .inner {
        width: 1180px;
        margin: 0px auto;
    
        .instagrem_tit {
            position: relative;

            h2 {
                font: 800 32px/1.3 "Nanum Myeongjo";
                color: #525252;
                letter-spacing: 1px;
            }
    
            p {
                font: 800 16px/1.5 "Nanum Myeongjo";
                color: #c9ab81;
                margin-bottom: 14px;
            }
    
            h3 {
                font: 800 20px/1.3 "Nanum Myeongjo";
                color: #666;
                position: absolute;
                right: 0;
                bottom: -4px;
            }
        }

        .instagrem_con {
            padding: 100px 0px;
            padding-bottom: 180px;
            box-sizing: border-box;

            &::after { content:""; display: block; clear: both; }

            article {
                float: left;
                padding-right: 34px;

                div {
                    width: 269px;
                    height: 280px;
                    background: #eee;
                }

                &:last-child { padding-right: 0px; }

                &:nth-of-type(1) div {
                    background: url("../img/mainsec06_img1.jpg") no-repeat center/cover;
                    filter: brightness(1.1) saturate(70%);
                }
                &:nth-of-type(2) div {
                    transform: translateY(60%);
                    background: url("../img/mainsec06_img2.jpg") no-repeat center/cover;
                    filter: brightness(1.1) saturate(70%);
                }
                &:nth-of-type(3) div {
                    background: url("../img/mainsec06_img3.jpg") no-repeat center/cover;
                    filter: brightness(1.2) saturate(70%);
                }
                &:nth-of-type(4) div {
                    transform: translateY(30%);
                    background: url("../img/mainsec06_img4.jpg") no-repeat center/cover;
                    filter: brightness(1.2) saturate(70%);
                }
            }
        }
    }
}

/* footer --------------------------- */
#footer{
    width:100%; 
    padding:100px 0; 
    border-top: 1px solid #ddd;
    // background:#fef7f4;  

    .inner{
        width:1180px; 
        margin:0 auto; 

        h1{
            font: 800 24px/1 'Nanum Myeongjo';
            color:#444;
            float:left; 
            letter-spacing: 3px;
        }
        ul{
            float:right; 

            li{
                float:left; margin-left:20px; 
                a{
                    font: 700 14px/1 'Nanum Myeongjo'; color:#555; 
                }
            }
        }        

        address{
            width:100%; float:left; 
            font: 14px/1.3 'Open Sans'; color:#777; 
            margin-bottom:20px; margin-top:20px; 
        }
        p{
            font:12px/1 'Open Sans'; color:#777; 
            width:100%; 
            float:left; 
        }
        &::after{
            content:''; display:block; clear:both; 
        }
    }
}

/* tablet  ------------------------------------------ */
@media screen and (max-width:$tablet){
    #header{         
        .inner{
            width:100%; 
            height:100px; 
                
            >h1{left:20px; }    
            .menuWeb{ display:none;  }    
            .btnCall{ display:block; }     
        }
    }

    #blogPosts{
        padding: 120px 40px;
        padding-bottom: 180px;
    
        .inner {
            width: 100%;
            
            .blogPosts_left {
                width: 100%;

                .blogPostsTxt {
                    transform: translateX(0%);
                }

                .blogPostspic-1 {
                    width: 70%;
                    height: 400px;
                    transform: translate(40%, 40%);
                }

                .blogPostspic-2 {
                    width: 24%;
                    height: 280px;
                    top: 140px;
                }

                .blogPostspic-3 {
                    width: 30%;
                    left: 130px;
                }
            }
    
            .blogPosts_right {
                width: 100%;
                margin-top: 300px;
            }   
        }
    }

    #ban01 {
        padding: 200px 0px;
       
        .ban01txt {
            h2 {
                font: 800 25px/1 "Nanum Myeongjo";
            }
    
            p {
                font: 400 14px/1.4 "Open Sans";
            }
        }
    }
    
    #highlights {
        padding: 120px 40px;
        box-sizing: border-box;
    
        .inner {
            width: 100%;
           
            .highlights_left {
                width: 100%;
                margin-bottom: 100px;
            }
    
            .highlights_right {
                width: 70%;
               
                .pic1 {
                    width: 100%; height: 300px;
                }
    
                .pic2 {
                    width: 80%; height: 150px;
                    top: auto; bottom: 50px; left: -25%;
                }
            }   
        }
    
    }

    #news {
        padding: 120px 40px;
    
        .inner {
            width: 100%;
    
            .news_left {
                width: 100%;
    
                .newspic {
                    width: 100%;
                    height: 420px;
                }
            }
    
            .news_right {
                width: 100%;
                padding-left: 0px;
              
                div {
                    margin-top: 60px;
                    margin-bottom: 34px;
                }
            }   
        }
    
    }

    #ourHouse {
        width: 100%;
        padding: 120px 40px;
       
        .inner {
            width: 100%;
           
            article {
                width: 100%;

                &:nth-of-type(2) {
                    height: 600px;
                }

                div {
                    float: left;
                    width: 50%;

                    &:nth-of-type(1) h2, &:nth-of-type(2) h2 { padding-top:60px; }
                   
                    p {
                        padding-bottom: 60px;
                    }
                }
            }
        }
    }

    #instagrem {
        padding: 120px 40px;

        .inner {
            width: 100%;
        
            .instagrem_con {
                padding: 120px 0px;
               
                article {
                    width: 48%;
                    padding: 40px;
                    box-sizing: border-box;

                    div {
                        width: 100%;
                        height: 250px;
                    }
    
                    &:nth-of-type(2) div {
                        transform: translateY(60%);
                    }
                   
                    &:nth-of-type(4) div {
                        transform: translateY(60%);
                    }
                }
            }
        }
    }
    
    /* footer --------------------------- */
    #footer{        
        padding:80px 30px; box-sizing:border-box;  
          
        .inner{
            width:100%;              
        }
    }
}


/* mobile ----------------------------------------------------------- */
@media screen and (max-width:$mobile){   
    #blogPosts{
        padding: 120px 40px;
        padding-bottom: 140px;
    
        .inner {
            width: 100%;
            
            .blogPosts_left {
                width: 100%;

                .blogPostsTxt {
                    transform: translateX(0%);
                }

                .blogPostspic-1 {
                    width: 75%;
                    height: 300px;
                    transform: translate(35%, 110%);
                }

                .blogPostspic-2 {
                    width: 100%;
                    height: 180px;
                    top: 140px;
                }

                .blogPostspic-3 {
                    width: 50%;
                    height: 140px;
                    left: 0px;
                    transform: translateY(40%);
                }

            }
    
            .blogPosts_right {
                margin-top: 360px;
            }   
        }
    }

    #ban01 {
        padding: 200px 0px;
       
        .ban01txt {
            h2 {
                font: 800 25px/1 "Nanum Myeongjo";
            }
    
            p {
                font: 400 14px/1.4 "Open Sans";
            }
        }
    }
    
    #highlights {
        padding: 120px 40px;
        box-sizing: border-box;
    
        .inner {
            width: 100%;
           
            .highlights_left {
                width: 100%;
                margin-bottom: 100px;
            }
    
            .highlights_right {
                width: 70%;
               
                .pic1 {
                    width: 100%; height: 300px;
                }
    
                .pic2 {
                    width: 80%; height: 150px;
                    top: auto; bottom: 50px; left: -25%;
                }
            }   
        }
    
    }

    #news {
        padding: 120px 40px;
    
        .inner {
            width: 100%;
    
            .news_left {
                width: 100%;
    
                .newspic {
                    width: 100%;
                    height: 420px;
                }
            }
    
            .news_right {
                width: 100%;
                padding-left: 0px;
              
                div {
                    margin-top: 60px;
                    margin-bottom: 34px;
                }
            }   
        }
    
    }

    #ourHouse {
        width: 100%;
        padding: 120px 40px;
       
        .inner {
            width: 100%;
            
            p {
                padding-bottom: 40px;
            }

            article {
                width: 100%;

                &:nth-of-type(2) {
                    height: 600px;
                }

                div {
                    float: left;
                    width: 50%;

                    h2 {
                        font: 800 18px/1.2 "Nanum Myeongjo";
                    }

                    &:nth-of-type(1) h2, &:nth-of-type(2) h2 { padding-top:60px; }
                   
                    p {
                        padding-bottom: 60px;
                        font: 400 13px/1.2 "Open Sans";
                    }
                }
            }
        }
    }

    #instagrem {
        padding: 120px 40px 40px;

        .inner {
            width: 100%;
        
            .instagrem_con {
                padding: 0px;
                padding-top: 80px;
               
                article {
                    width: 100%;
                    padding: 0px;
                    padding-bottom: 60px;
                    box-sizing: border-box;

                    div {
                        width: 100%;
                        height: 250px;
                    }
    
                    &:nth-of-type(2) div {
                        transform: translateY(0%);
                    }
                   
                    &:nth-of-type(4) div {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }

    
    /* footer --------------------------- */
    #footer{        
          
        .inner{
             h1{
                margin-bottom:20px;  
             }
             ul{
                 width:100%; 
                 li{margin-left:0px; margin:5px; }
             }             
        }
    }
}